@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700';
body{
	font-family: 'PT Sans Narrow', sans-serif !important;
	display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: -moz-flex;
    -moz-flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
/*---------------------------------------------------------------------*/
header{
  position: static;
  z-index: 50;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  /*background-color: #BB1D1E;*/
  height: 90px;
  width: 320px;
}

header .logo_top{
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 51;
  top: 42px;
  left: 100px;
  opacity: 0;
  transition: .5s ease-in-out;
}

header .logo_top li{  
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: #A4A4A4;
}

header .logo_top .logo{
  background: url(iconos/logo-opinion.svg) 0px 0px/130px auto no-repeat;
    height: 30px;
    width: 125px;
}

header .logo_top .logo a{
  display: block;
  height: 35px;
}

header .logo_top.desplegar{
    opacity: 1;
}

header #menup .redes-sociales{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  padding: 0px;
  height: 30px;
  position: relative;
  z-index: 110;
  top: 160px;
  width: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0px 80px;
  opacity: 0;
  transition: .3s ease-in-out;
}

header #menup .redes-sociales.open{
	opacity: 0;
}

header #menup .redes-sociales.desplegar{
	opacity: 1;
}

header #menup .redes-sociales li{
  display: inline-block;
  vertical-align: middle;
}

header #menup .redes-sociales li:hover{
  opacity: 0.7;
}

header #menup .redes-sociales .f a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -20px -8px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .t a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -74px -9px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .i a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -127px -9px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .y a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -183px -9px/225px auto;
    width: 25px;
    height: 25px;
}



header #hamburger {
  width: 60px;
  height: 63px;
  position: fixed;
  top: 10px;
  left: 28px;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  z-index: 51;
}

header #hamburger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 40%;
  background: #303841;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
header #hamburger span:nth-child(even) {
  left: 40%;
}
header #hamburger span:nth-child(odd) {
  left: 20%;
}
header #hamburger span:nth-child(1), header #hamburger span:nth-child(2) {
  top: 15px;
}
header #hamburger span:nth-child(3), header #hamburger span:nth-child(4) {
  top: 28px;
}
header #hamburger span:nth-child(5), header #hamburger span:nth-child(6) {
  top: 41px;
}
header #hamburger.open{
  border: none;
  border-radius: 5px;
}
header #hamburger.desplegar{
  border-radius: 35px;
}
header #hamburger.open span:nth-child(1), header #hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #hamburger.open span:nth-child(2), header #hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #hamburger.open span:nth-child(1) {
  left: 12px;
  top: 20px;
}
header #hamburger.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 20px;
}
header #hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
header #hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
header #hamburger.open span:nth-child(5) {
  left: 12px;
  top: 34px;
}
header #hamburger.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 34px;
}
header #logo {
  padding: 0px;
  position: relative;
  float: left;
  width: 235px;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}
header #logo h1 {
  background: url(../images/logo.svg) 5px -5px/230px auto no-repeat;
  height: 50px;
  width: auto;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
}
header #logo a {
  display: block;
  text-indent: -9999px;
  height: 50px;
}
header #menup.desplegar {
  left: 0;
}
header #menup {
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #303841;
  z-index: 50;
  width: 320px;
  height: 100%;
  transition: .5s;
}
header #menup .movil {
  display: none;
}
header #menup .opciones {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  top: 130px;
}

header #menup .opciones .iconos {
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
header #menup .opciones .iconos li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 40px;
  padding-left: 70px;
  text-align: left;
}

header #menup .opciones .iconos hr{
	border: none;
  margin: 0;
  padding: 0;
  background: url(iconos/punto_menu.svg) 5px 0px/15px auto repeat-x;
  height: 15px;
  width: 95%;
}

header #menup .opciones .iconos li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
  padding: 7px 0px 10px 0px;
  position: relative;
  float: left;
}
header #menup .opciones .iconos li a:hover {
  opacity: .7;
}

header #menup .opciones .iconos #icono-historias{
  background: url(iconos/icono-menu.svg) -20px -42px/130px auto no-repeat;
}

header #menup .opciones .iconos #icono-videos{
  background: url(iconos/icono-menu.svg) -20px -125px/130px auto no-repeat;
}
header #menup .opciones .iconos #icono-galeria{
  background: url(iconos/icono-menu.svg) -20px -217px/130px auto no-repeat;
}

header #menup .opciones .iconos #icono-grafico{
  background: url(iconos/icono-menu.svg) -20px -308px/130px auto no-repeat;
}

header #menup .opciones .iconos #icono-frases{
  background: url(iconos/icono-menu.svg) -20px -408px/130px auto no-repeat;
}

header #menup .opciones .iconos #icono-mapa{
	background: url(iconos/icono-menu.svg) -20px -506px/130px auto no-repeat;
}

#fondo-color{
	width: 100%;
    height: 100%;
    background-color: rgba(48,56,65,0.85);
    position: fixed;
    z-index: 59;
    display: none;
}

#fondo-color.open{
	display: block;
}

#historia-1.open{
	display: block;
}

#historia-2.open{
	display: block;
}

#historia-3.open{
	display: block;
}

#historia-4.open{
	display: block;
}

#historia-5.open{
	display: block;
}

.historia{
	width: 700px;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: #303841;
    z-index: 60;
    color: #fff;    
    display: none;
}

.historia h3{
	text-align: left;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: 70px;
    width: 580px;
}

.historia .info{
	margin: 10px 60px 25px 60px;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
    height: 395px;
    padding: 0 10px;
    scrollbar-thumb: background: #9E9E9E; ;
}

.historia .media .video{
	position: relative;
    padding-top: 56.25%;
}

.historia .media .video iframe{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9E9E9E; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #303841; 
}

/*------------------------------------------------------------------------------*/

#frases{
	width: 100%;
	height: 780px;
	background-color: #303841;
	margin: 60px 0;
	overflow: hidden;
	position: relative;
	/*
	display: flex;
    align-items: center;
    justify-content: center;*/
}

#frases .btn-izq{
	background: url(iconos/icono-flechas.svg) -23px 8px/280px auto no-repeat;
    width: 90px;
    height: 115px;
    position: absolute;
    left: 60px;
    bottom: 48%;
    cursor: pointer;
}

#frases .btn-der{
	background: url(iconos/icono-flechas.svg) -160px 8px/280px auto no-repeat;
    width: 90px;
    height: 115px;
    position: absolute;
    right: 60px;
    bottom: 48%;
    cursor: pointer;
    z-index: 1;
}

#frases .cuadro-oculto{
	height: 723px;
    width: 77px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #303841;
}

#frases .caja{
	height: auto;
	width: 1000px;
  overflow: hidden;
  margin: 220px auto 163px auto;
}

#frases .caja .bloque .frase.activo{
	display: block;
}

#frases .caja .bloque .frase{
	width: 1000px;
  /*margin: 0 50px;*/
  padding: 0;
  display: inline-block;
  vertical-align: top;
  transition: .3s;
  position: relative;
  left: 0;
  background: url(iconos/linea-punteada.svg) no-repeat;
  background-position-y: -65px;
  background-position-x: -150px;
}

#frases .bloque{
	width: 45000px;
	height: 100%;
	transition: .3s;
	overflow: hidden;
	/*position: relative;
    left: -1158px;*/
}

#frases .caja .bloque .frase h2{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 900px;
}

#frases .caja .bloque .frase .info{
	display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: #A4A4A4;
    height: 60px;
    margin-top: 125px;
}

#footer{
	width: 100%;
	height: auto;
	background-color: #303841;
}

#footer .bloque1{
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    -moz-justify-content: space-around;
    -moz-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    height: 50px;
    width: 100%;
}

#footer .bloque1 .derechos{
	margin: 0;
	padding: 0;
}

#footer .bloque1 .derechos li{	
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
	color: #A4A4A4;
}

#footer .bloque1 .derechos .logo{
	background: url(iconos/logo-opinion.svg) 0px 0px/130px auto no-repeat;
    height: 30px;
    width: 125px;
}

#footer .bloque1 .derechos .logo a{
	display: block;
	height: 35px;
}

#footer .bloque1 .redes-sociales{
	margin: 0;
	padding: 0;
	height: 30px;
}

#footer .bloque1 .redes-sociales li{
	display: inline-block;
	vertical-align: middle;
}

#footer .bloque1 .redes-sociales li:hover{
	opacity: 0.7;
}

#footer .bloque1 .redes-sociales .f a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -20px -8px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .t a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -74px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .i a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -127px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .y a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -183px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .creditos{
    background: url(iconos/icono-creditos.svg) no-repeat -4px -1px/50px auto;
    width: 40px;
    height: 35px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

#footer .bloque1 .redes-sociales .creditos.down{
	background: url(iconos/icono-creditos-down.svg) no-repeat -179px -56px/1430px auto;
}

#footer .bloque2{
	width: 765px;
	margin: 40px auto;
	display: none;
}

#footer .bloque2 ul{
	margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 75px;
}

#footer .bloque2 .last{
	margin-right: 0;
}

#footer .bloque2 ul>li{
	list-style: none;
	display: block;
	color: #fff;
	font-size: 16px;
}

#footer .bloque2 ul li ul{
	margin: 10px 0;
	padding: 0;
	display: block;
}

#footer .bloque2 ul li ul>li a{
	font-size: 14px;
	color: #A4A4A4;
	text-decoration: none;
}

#footer .bloque2 ul li ul>li a:hover{
	text-decoration: underline;
}

#footer .bloque2 span{
	display: block;
    width: 300px;
    font-size: 11px;
    margin: 0px auto;
    text-align: center;
    color: #A4A4A4;
    position: relative;
    top: 15px;
}

/*------------------------------------------------------------*/

#video{
	position: fixed;
    top: 0;
    width: 100%; 
    /*height: 96%;
    overflow: hidden;*/
    padding-top: 56.25%;
    z-index: -100;
}

#video .movil{
	display: none;
	position: fixed;
	top: 0;
	height: auto;
	width: 100%;
	z-index: -100;
}

#video iframe{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#notas{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(240,242,246,1)), color-stop(100%, rgba(232,236,241,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ecf1', GradientType=0 );
 	margin:50px 0px;
 	margin-top: 750px;
 	height: auto;
	width: 100%; 
	float: left;
	position: relative; 
	padding: 10px 0px;
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
}

#notas .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
}

#notas .content .bloque{
  color: #303841;
  width: 100%; 
  float: left;
  position: relative;
  margin: 70px 0px;
}

#notas .content .bloque.uno{
  height: 378px; 
}

#notas .content .bloque.dos{
	height: 450px;
}

#notas .content .bloque .left{
	display: inline-block;
	vertical-align: top;
	width: 500px;
  float: left;
  position: relative;
}

#notas .content .bloque .right{
	display: inline-block;
	vertical-align: top;	
  width: 500px;
  float: left;
  position: relative;
}

#notas .content .bloque .right .foto{
  overflow: hidden;
  width: 100%;
  height: auto;
}
#notas .content .bloque h2{
	font-size: 70px;
    margin: 0;
    text-align: left;
    line-height: 72px;
    margin-bottom: 30px;
}

#notas .content .bloque h2 a{
  text-decoration: none;
  color: #303841;
}

#notas .content .bloque .titulo{
	color: #6C737E;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 55px;
}

#notas .content .bloque .cuadro{
	width: 355px;
    height: 60px;
    background-color: #B54333;
    color: #fff;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

#notas .content .bloque .cuadro a{
    padding: 0px 90px;
    height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: auto;
}

#notas .content .bloque.dos .left{
  margin-right: 20px;
}

#notas .content .bloque.dos .right{
  width: 480px;
}

#notas .content .bloque.cinco .left{
  margin-right: 20px;
}

#notas .content .bloque.cinco .right{
  width: 480px;
}

#notas .content .bloque.tres{
}

#notas .content .bloque.tres h2{
	margin-bottom: 40px;
}

/*#notas .content .bloque.tres .cuadro{
	display: inline-block;
	vertical-align: top;
}*/

#notas .content .bloque.tres .titulo{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 20%;
}

#notas .content .bloque img{
  width: 500px;
  height: auto;
  position: relative;
  float: left;
}

#notas .content .bloque .titulo a{ 
  font-size: 18px;
  line-height: 20x;
  position: relative;
  float: left;
  padding: 10px 5px;
  width: 97%;
  font-weight: 600;
  height: 67px;
}

#notas .content .bloque .resumen{
  font-size: 14px;
  line-height: 16px;
  position: relative;
  float: left;
  padding: 10px 5px;
}

#notas .content .historia{
  display: none;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  float: left;
}

#videos{
  margin:70px 0px;
  padding: 0px 0px 40px 0px;
  background: #fff;
  width: 100%; 
  float: left;
  position: relative;    
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}
#videos .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
  margin-bottom: 70px;
}

#videos .content h2{
    font-size: 24px;
    margin: 0;
    text-align: left;
    line-height: 52px;
    margin: 0 auto;
    text-align: center;
    background-color: #303841;
    color: #fff;
    position: relative;
    top: 74px;
    width: 500px;
    height: 60px;
}

#videos .video{
	position: relative;
    padding-top: 56.25%;
}

#videos .video iframe{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%!important;
    height: 100%!important;
}


#galerias{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(240,242,246,1)), color-stop(100%, rgba(232,236,241,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ecf1', GradientType=0 );
  padding: 0px 0px 40px 0px;
  margin:70px 0px;
  width: 100%; 
  float: left;
  position: relative;    
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}
#galerias .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
  margin-bottom: 70px;
}

#galerias .content h2{
    font-size: 24px;
    margin: 0;
    text-align: left;
    line-height: 52px;
    margin: 0 auto;
    text-align: center;
    background-color: #303841;
    color: #fff;
    position: relative;
    top: 74px;
    width: 500px;
    height: 60px
}

#galerias .info{
  position: absolute; 
  width: 500px; 
  height: auto; 
  top: 65%; 
  left: 30px; 
  padding: 5px;
  text-align: left; 
  line-height: 36px; 
  font-size: 30px;
  color: #FFFFFF;
  text-shadow:2px 2px #000;
  /*
  z-index: 10;
  position: absolute; 
  bottom: 0px; 
  width: 980px; 
  padding: 10px;
  height: auto; 
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(33,33,33,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(33,33,33,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(33,33,33,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(33,33,33,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(33,33,33,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(33,33,33,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#212121', GradientType=0 );
  */
}

#galerias .info .desc{
  text-align: left;
  font-size: 26px;
  font-weight: 200;
  float: left;
  line-height: 28px;
}

#galerias .info .autor{
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}
/*
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: url(iconos/controles_galerias.svg) -4px -70px/350px no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: -36px -30px; }
.jssora03r { background-position: -223px -30px; }
.jssora03l:hover { background-position: -36px -30px; opacity: 0.7; }
.jssora03r:hover { background-position: -223px -30px; opacity: 0.7;}
.jssora03l.jssora03ldn { background-position: -36px -30px; }
.jssora03r.jssora03rdn { background-position: -223px -30px;}
*/

.jssora21l, .jssora21r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: url(iconos/controles_galerias.svg) -4px -70px/350px no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -36px -30px;}
.jssora21r { background-position: -223px -30px; }
.jssora21l:hover { background-position: -36px -30px; opacity: 0.7; }
.jssora21r:hover { background-position: -223px -30px; opacity: 0.7;}
.jssora21l.jssora21ldn { background-position:  -36px -30px;  }
.jssora21r.jssora21rdn { background-position: -223px -30px; }


#grafico{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(240,242,246,1)), color-stop(100%, rgba(232,236,241,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ecf1', GradientType=0 );
  padding: 0px 0px 40px 0px;
  margin:70px 0px;
  width: 100%; 
  float: left;
  position: relative;    
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}
#grafico .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
  margin-bottom: 70px;
}

#mapa{
  background: rgba(255,255,255,1);
  padding: 40px 0px 40px 0px;
  margin:70px 0px;
  width: 100%; 
  float: left;
  position: relative;    
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}

.titulo-frontera{
	width: 645px;
    height: auto;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#galerias .icono-movil, #galerias .icono-movil-2{
	display: none;
}

#share{
	position: fixed;
    width: 125px;
    height: 300px;
    bottom: -265px;
    right: -9px;
    z-index: 600;
}

#share ul{
	padding: 0;
	margin: 0;
}

#share ul li{
	list-style: none;
	display: inline-block;
    vertical-align: top;
}

#share ul .f a{
	display: block;
	width: 77px;
    height: 77px;
}

#share ul .t a{
	display: block;
	width: 33px;
    height: 77px;
}

#share ul .f{
	background: url(iconos/icono-share.svg) no-repeat -12px -10px/160px auto;
    width: 80px;
    height: 38px;
}

#share ul .t{
	background: url(iconos/icono-share.svg) no-repeat -94px -10px/160px auto;
    width: 33px;
    height: 38px;
    position: relative;
    left: -3px;
}

@media screen and (max-width: 768px){
	
	#galerias .icono-movil{
		display: block;
	    background: url(iconos/botonera-movil.svg) no-repeat 0px 0px/120px auto;
	    width: 105px;
	    height: 38px;
	    position: absolute;
	    top: 120px;
	    right: 50px;
	    z-index: 50;
	    opacity: .7;
	}

	#galerias .icono-movil-2{
		display: block;
	    background: url(iconos/botonera-movil.svg) no-repeat 0px 0px/120px auto;
	    width: 105px;
	    height: 38px;
	    position: absolute;
	    top: 120px;
	    right: 50px;
	    z-index: 50;
	    opacity: .7;
	}

	.titulo-frontera{
		width: 100%;
	    height: auto;
	    top: 0;
	}

	.titulo-frontera img{
		width: 100%;
    	height: auto;
	}
	
	#grafico .content{
		width: 100%;
	}

	#grafico .content h2{
		width: 320px;
    	margin: 0 auto;
	}

	#grafico .content img{
		content: url("grafico/tabla720px.png");
		display: block;
		margin: 0 auto;
	}

  #mapa .content{
    width: 100%;
  }
	
	#notas{
		margin-top: 305px;
	}

	#notas .content{
		width: 100%;
	}

	#notas .content .bloque h2{
		width: 100%;
		text-align: center;
	}

	#notas .content .bloque .cuadro{
		margin: 0 auto;
	}

	#notas .content .bloque .right .foto{
		margin-top: 10px;
	}

	#notas .content .bloque{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: auto;
	}

	#notas .content .bloque.uno{
		height: auto;
		margin-bottom: 0;
	}

	#notas .content .bloque.tres{
		margin-top: 0;
	}

	#notas .content .bloque.tres h2{
		width: 100%;
		text-align: center;
	}

	#notas .content .bloque.tres .titulo{
		margin: 0 auto;
		text-align: center;
		width: 300px;
	}

	#notas .content .bloque.cuatro{
		margin-top: 440px;
	}

	#notas .content .bloque .dos h2{
		width: 100%;
		text-align: center;
	}

	#notas .content .bloque .left, #notas .content .bloque .right{
		float: none;
		display: block;
	}

	#videos .content{
		width: 100%;
	}

	#galerias .content{
		width: 100%;
	}

	#frases{
		height: 500px;
	}

	#frases .caja{
		width: 100%;
		margin: 60px auto 60px auto
	}


	#frases .caja .bloque .frase h2{
		font-size: 30px;
	    width: 300px;
	    margin: 0 20%;
	}

	#frases .caja .bloque .frase .info{
		margin-top: 60px;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    -webkit-justify-content: center;
	    -webkit-flex-direction: column;
	    -webkit-align-items: center;
	    -moz-justify-content: center;
	    -moz-flex-direction: column;
	    -moz-align-items: center;
	    width: 70%;
	}

	#frases .caja .bloque .frase .info span{
		font-size: 25px;
	}

	#frases .caja .bloque .frase{
		background-position-y: -80px;
    	background-position-x: -60px;
	}

	#frases .btn-izq{
		bottom: 53%;
	}

	#frases .btn-der{
		bottom: 53%;
	}

	#footer .bloque2{
		width: 100%;
	}

	#footer .bloque2 ul{
		margin: 0 60px;
	}

	.historia{
		width: 80%;
	}

	.historia .media img{
		width: 100%;
    	height: auto;
	}

	.historia .info{
		margin: 0;
	    margin-top: 10px;
	    height: 463px;
	}

	.historia h3{
		width: 100%;
    	margin-left: 10px;
	}
}

@media screen and (max-width: 600px){
	#frases{
		display: none;
	}

	#notas{
		margin-top: 235px;
	}
}

@media screen and (max-width: 530px){
	#videos .content h2{
		width: 100%;
		height: auto;
	}

	#galerias .content h2{
		width: 100%;
		height: auto;
	}

	.historia .info{
		height: 550px;
	}

	#notas .content .bloque img{
		width: 100%;
		height: auto;
	}

	#notas .content .bloque.dos .left{
		margin-right: 0;
	}

	#notas .content .bloque.cinco .left{
		margin-right: 0;
	}
}

@media screen and (max-width: 480px){
	
	#grafico .content img{
		content: url("grafico/tabla480px.png");
		display: block;
	}

	#notas{
		margin-top: 139px;
	}

	#footer .bloque2 ul{
		margin: 0 50px;
	}

	header #menup{
		left: -150%;
	}

	#videos{
		margin: 0;
	}

	#galerias{
		margin: 0;
	}

	#notas .content .bloque h2{
		font-size: 50px;
		line-height: 52px;
	}

	.historia h3{
		font-size: 22px;
    	margin-left: 5px;
	}

	#notas .content .bloque.tres{
		margin-top: 0;
	}

	#notas .content .bloque.cuatro{
		margin-top: 180px;
	}

}

@media screen and (max-width: 430px){

	.titulo-frontera img{
		position: relative;
	    right: -20px;
	    top: 40px;
	}
	
	#grafico .content img{
		content: url("grafico/tabla320px.png");
		display: block;
		margin: 0 auto;
	}

	#footer .bloque1 .derechos{
		width: 130px;
	}

	#footer .bloque2 ul{
		margin: 0 8%;
	}

	#notas .content .bloque .cuadro{
		width: 100%;
	}
}

@media screen and (max-width: 320px){
	#notas{
		margin-top: 83px;
	}
}