@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700';
body{
	font-family: 'PT Sans Narrow', sans-serif;
	display: flex;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: -moz-flex;
    -moz-flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/*---------------------------------------------------------------------*/

header{
  position: static;
  z-index: 50;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  /*background-color: #BB1D1E;*/
  height: 90px;
  width: 320px;
}

header .logo_top{
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 51;
  top: 42px;
  left: 100px;
  opacity: 0;
  transition: .5s ease-in-out;
}

header .logo_top li{  
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    color: #A4A4A4;
}

header .logo_top .logo{
  background: url(iconos/logo-opinion.svg) 0px 0px/130px auto no-repeat;
    height: 30px;
    width: 125px;
}

header .logo_top .logo a{
  display: block;
  height: 35px;
}

header .logo_top.desplegar{
    opacity: 1;
}

header #menup .redes-sociales{
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  padding: 0px;
  height: 30px;
  position: relative;
  z-index: 110;
  top: 160px;
  width: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0px 25%;
  opacity: 0;
  transition: .3s ease-in-out;
}

header #menup .redes-sociales.open{
	opacity: 0;
}

header #menup .redes-sociales.desplegar{
	opacity: 1;
}

header #menup .redes-sociales li{
  display: inline-block;
  vertical-align: middle;
}

header #menup .redes-sociales li:hover{
  opacity: 0.7;
}

header #menup .redes-sociales .f a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -20px -8px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .t a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -74px -9px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .i a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -127px -9px/225px auto;
    width: 25px;
    height: 25px;
}

header #menup .redes-sociales .y a{
  display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -183px -9px/225px auto;
    width: 25px;
    height: 25px;
}



header #hamburger {
  width: 60px;
  height: 63px;
  position: fixed;
  top: 10px;
  left: 28px;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  z-index: 51;
}

header #hamburger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 40%;
  background: #303841;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
header #hamburger span:nth-child(even) {
  left: 40%;
}
header #hamburger span:nth-child(odd) {
  left: 20%;
}
header #hamburger span:nth-child(1), header #hamburger span:nth-child(2) {
  top: 15px;
}
header #hamburger span:nth-child(3), header #hamburger span:nth-child(4) {
  top: 28px;
}
header #hamburger span:nth-child(5), header #hamburger span:nth-child(6) {
  top: 41px;
}
header #hamburger.open{
  border: none;
  border-radius: 5px;
}
header #hamburger.desplegar{
  border-radius: 35px;
}
header #hamburger.open span:nth-child(1), header #hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header #hamburger.open span:nth-child(2), header #hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header #hamburger.open span:nth-child(1) {
  left: 12px;
  top: 20px;
}
header #hamburger.open span:nth-child(2) {
  left: calc(50% - 4px);
  top: 20px;
}
header #hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
header #hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
header #hamburger.open span:nth-child(5) {
  left: 12px;
  top: 34px;
}
header #hamburger.open span:nth-child(6) {
  left: calc(50% - 4px);
  top: 34px;
}
header #logo {
  padding: 0px;
  position: relative;
  float: left;
  width: 235px;
  top: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}
header #logo h1 {
  background: url(../images/logo.svg) 5px -5px/230px auto no-repeat;
  height: 50px;
  width: auto;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
}
header #logo a {
  display: block;
  text-indent: -9999px;
  height: 50px;
}
header #menup.desplegar {
  top: 0;
}
header #menup {
  position: fixed;
  top: 0;
  top: -100%;
  background-color: #303841;
  z-index: 50;
  width: 320px;
  height: 100%;
  transition: .5s;
}
header #menup .movil {
  display: none;
}
header #menup .opciones {
  width: 300px;
  margin: 0 2%;
  padding-bottom: 10px;
  position: relative;
  top: 130px;
}

header #menup .opciones .iconos {
  padding: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
header #menup .opciones .iconos li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 240px;
  height: 40px;
  margin-left: 40px;
  text-align: left;
  padding: 0;
}

header #menup .opciones .iconos hr{
	border: none;
    margin: 0;
    padding: 0;
    background: url(iconos/punto_menu.svg) 5px 0px/15px auto repeat-x;
    height: 15px;
    width: 100%;
}

header #menup .opciones .iconos li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  padding: 7px 0px 10px 0px;
  position: relative;
  float: left;
}
header #menup .opciones .iconos li a:hover {
  opacity: .7;
}

header #menup .opciones .iconos #icono-historias:before{
	position: absolute;
	top: 0;
	left: 0;
	content: url(iconos/icono-historias.svg);
}

header #menup .opciones .iconos #icono-videos:before{
	position: absolute;
	top: 58px;
	left: 0;
	content: url(iconos/icono-video.svg);
}

header #menup .opciones .iconos #icono-galeria:before{
	position: absolute;
	top: 107px;
	left: 0;
	content: url(iconos/icono-galerias.svg);
}

header #menup .opciones .iconos #icono-grafico:before{
	position: absolute;
	top: 170px;
	left: 0;
	content: url(iconos/icono-grafico.svg);
}

header #menup .opciones .iconos #icono-frases:before{
	position: absolute;
	top: 225px;
	left: 0;
	content: url(iconos/icono-frases.svg);
}

header #menup .opciones .iconos #icono-mapa:before{
	position: absolute;
	top: 278px;
	left: 0;
	content: url(iconos/icono-mapa.svg);
}

#fondo-color{
	width: 100%;
    height: 100%;
    background-color: rgba(48,56,65,0.85);
    position: fixed;
    z-index: 59;
    display: none;
}

#fondo-color.open{
	display: block;
}

#historia-1.open{
	display: block;
}

#historia-2.open{
	display: block;
}

#historia-3.open{
	display: block;
}

#historia-4.open{
	display: block;
}

#historia-5.open{
	display: block;
}

.historia{
	width: 700px;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 1%;
    bottom: 0;
    margin: 0 auto;
    background-color: #303841;
    z-index: 60;
    color: #fff;    
    display: none;
}

.historia h3{
	text-align: left;
    font-size: 25px;
    margin-bottom: 0;
    margin-left: 70px;
    width: 580px;
}

.historia .info{
	margin: 10px 60px 25px 60px;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
    height: 395px;
    padding: 0 10px;
    scrollbar-thumb: background: #9E9E9E; ;
}

.historia .media .video{
	position: relative;
    padding-top: 56.25%;
}

.historia .media .video iframe{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9E9E9E; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #303841; 
}

/*------------------------------------------------------------------------------*/

#frases{
	width: 100%;
	height: 780px;
	background-color: #303841;
	margin: 60px 0;
	overflow: hidden;
	position: relative;
	/*
	display: flex;
    align-items: center;
    justify-content: center;*/
}

#frases .btn-izq{
	background: url(iconos/icono-flechas.svg) -23px 8px/280px auto no-repeat;
    width: 90px;
    height: 115px;
    position: absolute;
    left: 60px;
    bottom: 48%;
    cursor: pointer;
}

#frases .btn-der{
	background: url(iconos/icono-flechas.svg) -160px 8px/280px auto no-repeat;
    width: 90px;
    height: 115px;
    position: absolute;
    right: 60px;
    bottom: 48%;
    cursor: pointer;
    z-index: 1;
}

#frases .cuadro-oculto{
	height: 723px;
    width: 77px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #303841;
}

#frases .caja{
	height: auto;
	width: 1000px;
  overflow: hidden;
  margin: 220px auto 163px auto;
}

#frases .caja .bloque .frase.activo{
	display: block;
}

#frases .caja .bloque .frase{
	width: 1000px;
  /*margin: 0 50px;*/
  padding: 0;
  display: inline-block;
  vertical-align: top;
  transition: .3s;
  position: relative;
  left: 0;
  background: url(iconos/linea-punteada.svg) no-repeat;
  background-position-y: -65px;
  background-position-x: -150px;
}

#frases .bloque{
	width: 45000px;
	height: 100%;
	transition: .3s;
	overflow: hidden;
	/*position: relative;
    left: -1158px;*/
}

#frases .caja .bloque .frase h2{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 900px;
}

#frases .caja .bloque .frase .info{
	display: flex;
    justify-content: space-around;
    font-size: 40px;
    color: #A4A4A4;
    height: 60px;
    margin-top: 125px;
}

#footer{
	width: 100%;
	height: auto;
	background-color: #303841;
}

#footer .bloque1{
	display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-around;
    -moz-justify-content: space-around;
    -moz-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    height: 50px;
    width: 100%;
}

#footer .bloque1 .derechos{
	margin: 0;
	padding: 0;
}

#footer .bloque1 .derechos li{	
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
	color: #A4A4A4;
}

#footer .bloque1 .derechos .logo{
	background: url(iconos/logo-opinion.svg) 0px 0px/130px auto no-repeat;
    height: 30px;
    width: 125px;
}

#footer .bloque1 .derechos .logo a{
	display: block;
	height: 35px;
}

#footer .bloque1 .redes-sociales{
	margin: 0;
	padding: 0;
	height: 30px;
}

#footer .bloque1 .redes-sociales li{
	display: inline-block;
	vertical-align: middle;
}

#footer .bloque1 .redes-sociales li:hover{
	opacity: 0.7;
}

#footer .bloque1 .redes-sociales .f a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -20px -8px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .t a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -74px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .i a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -127px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .y a{
	display: block;
    background: url(iconos/redes-sociales.svg) no-repeat -183px -9px/225px auto;
    width: 25px;
    height: 25px;
}

#footer .bloque1 .redes-sociales .creditos{
    background: url(iconos/icono-creditos.svg) no-repeat -4px -1px/50px auto;
    width: 40px;
    height: 35px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

#footer .bloque1 .redes-sociales .creditos.down{
	background: url(iconos/icono-creditos-down.svg) no-repeat -179px -56px/1430px auto;
}

#footer .bloque2{
	width: 765px;
	margin: 40px auto;
	display: none;
}

#footer .bloque2 ul{
	margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 75px;
}

#footer .bloque2 .last{
	margin-right: 0;
}

#footer .bloque2 ul>li{
	list-style: none;
	display: block;
	color: #fff;
	font-size: 16px;
}

#footer .bloque2 ul li ul{
	margin: 10px 0;
	padding: 0;
	display: block;
}

#footer .bloque2 ul li ul>li a{
	font-size: 14px;
	color: #A4A4A4;
	text-decoration: none;
}

#footer .bloque2 ul li ul>li a:hover{
	text-decoration: underline;
}

#footer .bloque2 span{
	display: block;
    width: 300px;
    font-size: 11px;
    margin: 0px auto;
    text-align: center;
    color: #A4A4A4;
    position: relative;
    top: 15px;
}

/*------------------------------------------------------------*/

#video{
	position: fixed;
    top: 0;
    width: 100%; 
    /*height: 96%;
    overflow: hidden;*/
    padding-top: 56.25%;
    z-index: -100;
}

#video iframe{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#notas{
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(240,242,246,1)), color-stop(100%, rgba(232,236,241,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 66%, rgba(232,236,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8ecf1', GradientType=0 );
 	margin:50px 0px;
 	margin-top: 550px;
 	height: auto;
	width: 100%; 
	float: left;
	position: relative; 
	padding: 10px 0px;
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
}

#notas .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
}

#notas .content .bloque{
  color: #303841;
  height: auto; 
  width: 100%; 
  float: left;
  position: relative;
  margin: 70px 0px;
}

#notas .content .bloque .left{
	display: inline-block;
	vertical-align: top;
	width: 500px;
  float: left;
  position: relative;
}

#notas .content .bloque .right{
	display: inline-block;
	vertical-align: top;	
  width: 500px;
  float: left;
  position: relative;
}

#notas .content .bloque .right .foto{
  overflow: hidden;
  width: 100%;
  height: auto;
}
#notas .content .bloque h2{
	font-size: 80px;
    margin: 0;
    text-align: left;
    line-height: 82px;
}

#notas .content .bloque h2 a{
  text-decoration: none;
  color: #303841;
}

#notas .content .bloque .titulo{
	color: #6C737E;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 55px;
}

#notas .content .bloque .cuadro{
	width: 355px;
    height: 60px;
    background-color: #B54333;
    color: #fff;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

#notas .content .bloque .cuadro a{
    padding: 4px 0px 16px 0px;
    height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    float: left;
    position: relative;
    margin: 0px 120px;
    width: auto;
}

#notas .content .bloque.dos .left{
  margin-right: 20px;
}

#notas .content .bloque.dos .right{
  width: 480px;
}

#notas .content .bloque.cinco .left{
  margin-right: 20px;
}

#notas .content .bloque.cinco .right{
  width: 480px;
}

#notas .content .bloque.tres{
}

#notas .content .bloque.tres h2{
	margin-bottom: 40px;
}

#notas .content .bloque.tres .cuadro{
	display: inline-block;
	vertical-align: top;
}

#notas .content .bloque.tres .titulo{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 20%;
}

#notas .content .bloque img{
  width: 500px;
  height: auto;
  position: relative;
  float: left;
}

#notas .content .bloque .titulo a{ 
  font-size: 18px;
  line-height: 20x;
  position: relative;
  float: left;
  padding: 10px 5px;
  width: 97%;
  font-weight: 600;
  height: 67px;
}

#notas .content .bloque .resumen{
  font-size: 14px;
  line-height: 16px;
  position: relative;
  float: left;
  padding: 10px 5px;
}

#notas .content .historia{
  display: none;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  float: left;
}

#galerias{
  margin:50px 0px;
  background: #fff;
  width: 100%; 
  float: left;
  position: relative;    
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}
#galerias .content{
  margin:0 auto;
  position: relative;
  width: 1000px;
  height: auto;
}
#galerias .content #galeria1, #galerias .content #galeria2{
  position: relative; 
  width: 1000px; 
  height: 500px;
  top: 0px; 
  left: 0px;
}

#galerias .content .info{
  z-index: 10;
  position: absolute; 
  bottom: 0px; 
  width: 980px; 
  padding: 10px;
  height: auto; 
  background: rgba(0, 0, 0, 0.5); 
  color: #fff;
}

#galerias .content .info .desc{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  float: left;
}

#galerias .content .info .autor{
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(iconos/controles_galerias.svg) -4px -70px/140px no-repeat;
    overflow: hidden;
}
.jssora03l { background-position: 0px 0px; }
.jssora03r { background-position: -85px 0px; }
.jssora03l:hover { background-position: 0px 0px; opacity: 0.7; }
.jssora03r:hover { background-position: -85px 0px; opacity: 0.7;}
.jssora03l.jssora03ldn { background-position: 0px 0px; }
.jssora03r.jssora03rdn { background-position: -85px 0px; }
