// HOME -----------------------------------------------------------------
#aperturas{position: relative;margin-bottom: 20px;float: left;
    .apertura{float: left;}
    //Apertura One
    .view-aperturas.view-id-aperturas.view-display-id-block{
        .nota{position: relative;
            .degradado{width: 100%;height: 70%;position: absolute;bottom: 0;background: rgba(40,46,48,0);background: -moz-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(8%, rgba(40,46,48,0)), color-stop(55%, rgba(40,46,48,0.51)), color-stop(100%, rgba(40,46,48,1)));background: -webkit-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -o-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -ms-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: linear-gradient(to bottom, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282e30', endColorstr='#282e30', GradientType=0 );}
            .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .tipo{display: none;}
            .info{position: absolute;bottom: 150px;left: 20px;width: 430px;
                .titulo{
                    a{text-decoration: none;color: #fff;font-size: 30px;line-height: 32px;font-weight: 600;}
                }
                .resumen{color: #fff;font-size: 16px;line-height: 18px;}
            }
        }
    }
    .view-aperturas.view-id-aperturas.view-display-id-block_1{background-color: rgba(40,46,48, .8);position: absolute;bottom: 0;width: 100%;
        .views-row{display: inline-block; vertical-align: middle;width:305px;margin: 23px 20px;
            .nota{position: relative;
                .tipo{display: none;}
                .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .foto{float: left;}
                .video{float: left;}
                .galeria{float: left;}
                .info{float: left;width: 154px;margin-left: 5px;
                    .titulo{
                        a{font-size: 20px;text-decoration: none;color: #fff;line-height: 22px;}
                    }
                }
            }
        }
        .views-row.views-row-1, .views-row.views-row-2, .views-row.views-row-3{margin-right: 0;}
    }
    //Fin

    //Apertura Two
    .view-aperturas.view-id-aperturas.view-display-id-block_2{float: left;width: 100%;
        .nota{
            .tipo{display: none;}
            .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .video{float: left;}
            .foto{float: left;}
            .galeria{float: left;}
            .info{float: left;width: 353px;margin-left: 13px;
                .titulo{ 
                    a{text-decoration: none;color: #333;font-size: 30px;line-height: 32px;font-weight: 600;}
                }
                .resumen{font-size: 16px;line-height: 18px;}
            }
        }
    }

    .view-aperturas.view-id-aperturas.view-display-id-block_3{float: left;width: 353px;position: absolute;right: 0;top: 180px;border-top: 1px solid #333;padding-top: 20px;
        .views-row{width: 100%; height: 90px;float: left;position: relative;
            .nota{
                .tipo{display: none;}
                .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/50px auto no-repeat;height: 36px;width: 50px;float: left;position: absolute;left: -4px;top: -2px;opacity: 0.7;z-index: 1;}
                .video{float: left;}
                .foto{float: left;}
                .galeria{float: left;}
                .info{float: left;margin-left: 8px;
                    .titulo{
                        a{text-decoration: none;font-size: 20px; color: #333;font-weight: 600;}
                    }
                }
            }
        }
        .views-row-2{margin-top: 20px;}
    }

    .view-aperturas.view-id-aperturas.view-display-id-block_4{width: 100%;height: 113px;float: left;background-color: #282E30;margin-top: 10px;position: relative;
        .view-header{
            .divisor{height: 90px;position: absolute;border-right: 1px solid #757575;top: 10px;right: 508px;}
        }
        .view-content{display: flex;flex-wrap: wrap;justify-content: center;
            .views-row{width: 450px;height: 28px;margin: 15px 40px 15px 0;overflow: hidden;
                .titulo{
                    a{text-decoration: none;color: #fff;font-size: 20px;}
                    a:hover{text-decoration: underline;}
                }
                .icono{background: url(../images/iconos/icono-aperturas.svg) -16px -14px/60px auto no-repeat;height: 28px;width: 30px;margin-right: 5px;float: left;}
            }
            .views-row-2, .views-row-4{margin-right: 0;}
        }
    }
    //Fin Apertura Two

    //Apertura Three
    .view-aperturas.view-id-aperturas.view-display-id-block_5{
        .nota{position: relative;
            .degradado{width: 100%;height: 50%;position: absolute;bottom: 0;background: rgba(40,46,48,0);background: -moz-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(8%, rgba(40,46,48,0)), color-stop(55%, rgba(40,46,48,0.51)), color-stop(100%, rgba(40,46,48,1)));background: -webkit-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -o-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: -ms-linear-gradient(top, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);background: linear-gradient(to bottom, rgba(40,46,48,0) 8%, rgba(40,46,48,0.51) 55%, rgba(40,46,48,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282e30', endColorstr='#282e30', GradientType=0 );}
            .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .tipo{display: none;}
            .info{position: absolute;bottom: 150px;left: 20px;width: 430px;
                .titulo{
                    a{text-decoration: none;color: #fff;font-size: 30px;line-height: 32px;font-weight: 600;}
                }
                .resumen{color: #fff;font-size: 16px;line-height: 18px;}
            }
        }
    }

    .view-aperturas.view-id-aperturas.view-display-id-block_6{width: 100%;height: 113px;float: left;background-color: #282E30;margin-top: 10px;position: absolute;bottom: 0;
        .view-header{
            .divisor{height: 90px;position: absolute;border-right: 1px solid #757575;top: 10px;right: 508px;}
        }
        .view-content{display: flex;flex-wrap: wrap;justify-content: center;
            .views-row{width: 450px;height: auto;margin: 14px 40px 0px 0px;overflow: hidden;
                .titulo{
                    a{text-decoration: none;color: #fff;font-size: 18px;line-height: 20px;}
                    a:hover{text-decoration: underline;}
                }
                .icono{background: url(../images/iconos/icono-aperturas.svg) -16px -14px/60px auto no-repeat;height: 28px;width: 30px;margin-right: 5px;float: left;}
            }
            .views-row-2, .views-row-4{margin-right: 0;}
        }
    }

    //Apertura Four HOME
    .view-aperturas.view-id-aperturas.view-display-id-block_7{float: left;width: 100%;
        .nota{float: left;width: 1006px;margin-top: 10px;background:#F2F2F2; height:30px;box-shadow:0px 1px 22px -10px #888;padding:5px 0px;
            .tipo{display: none;}
            .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
            .video{float: left;}
            .foto{float: left;}
            .galeria{float: left;}
            .info{width:100%; float:left; padding:7px 0px 0px 0px; position: relative;text-align:center;
                span{width: 100px;color: #BD1D1D;float: left;position: relative;margin-left: 20px;text-transform: uppercase;font-weight: 600;text-align: right;}
                .sep{width:20px; float:left; position: relative; margin:0px 10px;}
                .titulo{width:800px;text-align:left; 
                    a{text-decoration: none;color: #333;font-size: 20px;line-height:22px;font-weight: 600;}
                }
                .resumen{font-size: 16px;line-height: 18px;}
            }
        }
    }

}/*FIN aperturas*/

