#contactenos{width: 1006px;padding: 20px 09px;margin: 0 auto;position: relative;
    .content{width: 100%; float:left; margin-top: 40px; position: relative;
        .menu_seccion{border-bottom: 1px solid #8E9398;}
        .izq{width: 640px;margin-right: 15px;float: left;position: relative;height: auto;
            h1{font-size: 18px;color: $estandar;border-bottom: 1px solid $estandar;text-transform: uppercase;padding-bottom: 5px;}
            .gps{background: url(../images/gps.jpg) -28px 0px/auto no-repeat;height: 290px;width: 350px;display: inline-block; position: relative;
                .texto{position: absolute;bottom: -50px;left: 0;right: 0;margin: 0 auto;text-align: center;font-size: 13px;width: 137px;
                    span{font-weight: 600;display: block;}
                }
            }
            .tel{background: url(../images/tel.jpg) 0px 38px/auto no-repeat;height: 290px;width: 200px;display: inline-block; margin-left: 50px; position: relative;
                .texto{position: absolute;bottom: -50px;left: 0;right: 0;margin: 0 auto;text-align: center;font-size: 13px;width: 137px;
                    span{font-weight: 600;display: block;}
                }
            }
            .siganos{float: left; background-color: #CCCCCC;width: 100%;margin-top: 123px;height: 70px;font-size: 13px;
                h2{text-align: center;margin: 0;font-size: 14px;color: #333333;}
                .f{background: url(../images/iconos/redes_contactenos.svg) -18px -6px/232px auto no-repeat;height: 32px;width: 32px;display: inline-block; vertical-align: middle;margin: 5px 12px;}
                .t{background: url(../images/iconos/redes_contactenos.svg) -73px -6px/232px auto no-repeat;height: 32px;width: 32px;display: inline-block; vertical-align: middle;margin: 5px 12px;}
                .i{background: url(../images/iconos/redes_contactenos.svg) -125px -6px/232px auto no-repeat;height: 32px;width: 32px;display: inline-block; vertical-align: middle;margin: 5px 12px;}
                .y{background: url(../images/iconos/redes_contactenos.svg) -181px -6px/232px auto no-repeat;height: 32px;width: 32px;display: inline-block; vertical-align: middle;margin: 5px 12px;}
            }
            .formulario{float: left; margin-top: 50px;width: 100%;
                h2{text-align: center;font-size: 18px;color: #CC3333;}
                .form-item{width: 250px; display: inline-block;margin: 15px 30px;text-align: center;color: #CC3333;
                    input{width: 250px;border: none;background-color: #e8e8e8;height: 20px;}
                    input:focus{outline: none;}
                }
                .webform-component-textarea{width: 566px;
                    textarea{border: none; background-color: #e8e8e8;height: 117px;margin-top: 5px;}
                    textarea:focus{outline: none;}
                }
                .form-actions{text-align: center;
                    input{width: 250px;height: 40px;border: none;color: white;font-size: 18px;background-color: #cc3333;cursor: pointer;}
                }
            }
        }//FIN IZQ
        .der{width: 350px;margin-right: 0px;float: left;position: relative;height: auto;
           .view-id-sidebar.view-display-id-block_6{float: left;width: 300px;height: 180px;margin-top: 30px;margin-bottom: 50px;
                .view-header{text-align: center;background-color: #31479A;color: white;font-size: 14px;text-transform: capitalize;}
                .view-content{position: relative;top: -17px;
                    .calendario{
                        .imagen{display: inline-block;}
                        .descripcion{display: inline-block;width: 150px;vertical-align: top;text-align: center;position: relative;top: 35px;font-size: 16px;}
                        .boton{background: #BB2026;text-align: center;padding: 8px 0;height: 23px;display: inline-block;width: 300px;
                            a{text-decoration: none;color: white;font-size: 18px;text-transform: uppercase;font-weight: 600;padding: 8px 103px;margin: 4px 0;}
                        }
                    }
                }
           }
           .view-id-sidebar.view-display-id-block_4{float: left;width: 300px;margin: 10px 0; height: 180px;
                .view-header{text-align: center;background-color: #BB2026;color: white;font-size: 14px;text-transform: capitalize;}
                .view-content{position: relative;top: -17px;
                    .pdf{
                        .imagen{display: inline-block;}
                        .descripcion{display: inline-block;width: 150px;vertical-align: top;text-align: center;position: relative;top: 35px;font-size: 16px;}
                        .boton{background: #BB2026;text-align: center;padding: 8px 0;height: 23px;display: inline-block;width: 300px;
                            a{text-decoration: none;color: white;font-size: 18px;text-transform: uppercase;font-weight: 600;padding: 8px 103px;margin: 4px 0;}
                        }
                    }
                }
           }
           .suscripcion, .juegos, .clasificados{float: left;width: 300px; margin: 10px 0;}
        }//Fin Der
    }
}//FIN Contactenos