@charset "utf-8";
/*body{padding-top:0px !important;}
 -#toolbar div.toolbar-menu a.toggle{background:none !important;}
 -#toolbar{box-shadow:0 3px 20px #000 !important; display:block !important; position: fixed!important; top:0px!important;padding-top:0px!important;background:#2D2D2D!important; width: 55px!important;height: 100%!important; color:#fff!important; padding:50px 5px 10px 5px !important;
 -    #toolbar-home{
 -        a{color:#333;float:left !important; height: 40px !important;width: 50px !important;background:none !important; padding:0px !important;}
 -        li{float:left !important; height: 40px !important;width: 50px !important;}
 -        .home{background:  url(../images/menuadmin.svg) 2px 1px/50px auto no-repeat !important;}
 -        span{display:none !important;}
 -    }
 -    #toolbar-user{float:left !important;
 -        li{float:left !important; height: 40px !important;width: 50px !important;}
 -        .account{background:  url(../images/menuadmin.svg) 8px -60px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -63px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;}
 -        }
 -        .logout{background:  url(../images/menuadmin.svg) 8px -117px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -120px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;width:70px !important; }
 -        }
 -        a{color:#333!important;border-radius: 6px !important;width: 100px !important;height: 20px !important;padding: 7px 0px 5px 50px !important;position: relative!important;top: 3px!important;font-size: 11px!important;}
 -    }
 -    #toolbar-menu{
 -        li{float:left !important; height: 40px !important;width: 50px !important;}
 -        .menu-11{background:  url(../images/menuadmin.svg) 8px -172px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -175px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:90px !important; }
 -        }
 -        .menu-9{background:  url(../images/menuadmin.svg) 8px -232px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -235px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-21{background:  url(../images/menuadmin.svg) 8px -290px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -293px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-7{background:  url(../images/menuadmin.svg) 12px -350px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 12px -353px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-18{background:  url(../images/menuadmin.svg) 8px -410px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -413px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-16{background:  url(../images/menuadmin.svg) 8px -470px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -473px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-1416{background:  url(../images/menuadmin.svg) 8px -530px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -533px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-8{background:  url(../images/menuadmin.svg) 8px -585px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -588px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:70px !important; }
 -        }
 -        .menu-19{background:  url(../images/menuadmin.svg) 8px -695px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -698px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-1463{background:  url(../images/menuadmin.svg) 8px -695px/40px auto no-repeat !important;display:none !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -698px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-1464{background:  url(../images/menuadmin.svg) 8px -695px/40px auto no-repeat !important; display:none !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -698px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-19{background:  url(../images/menuadmin.svg) 8px -670px/40px auto no-repeat !important;display:none !important; 
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -673px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-12{background:  url(../images/menuadmin.svg) 8px -670px/40px auto no-repeat !important;display:none !important; 
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -673px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        .menu-1384{background:  url(../images/menuadmin.svg) 8px -695px/40px auto no-repeat !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{background:  url(../images/menuadmin.svg) 8px -698px/40px auto no-repeat #E6E6E6 !important;text-indent:0px!important;color:#333;width:120px !important; }
 -        }
 -        a{border-radius: 6px !important;width: 100px !important;height: 20px !important;padding: 7px 0px 5px 50px !important;position: relative!important;top: 3px!important;font-size: 11px!important;}
 -    }
 -    .toolbar-drawer{left:6px; height:100%;padding:0px!important;background:  url(../images/menuadmin_2.svg) 8px 5px/50px auto no-repeat #E6E6E6 !important;
 -        li{float:left !important; height: 40px !important;width: 50px !important;
 -            a{text-indent:-9999px !important;}
 -            a:hover{margin-left:50px; background: #E6E6E6 !important;text-indent:0px!important;color:#333;width:60px !important; }
 -        }
 -        a{border-radius: 0px 6px 6px 0px !important;width: 100px !important;height: 20px !important;padding: 7px 0px 5px 10px !important;position: relative!important;top: 3px!important;font-size: 11px!important;color:#333;}
 -    }
 -}
 -*/
header{
    section{width: 25%;height: 50px;position: fixed;right: 0;z-index: 1;top: -31px;transition: .3s;
        .buscador{display:block; border-radius: 4px;width: 100px;padding: 10px;background-color: #BB1D1E;
            #redes{padding: 0;left: 0;margin: 5px 0px;position: relative; width: 107px; float: left;
                li{padding:0;width: 24px;height: 24px;margin: 0;list-style: none; float:left;position:relative;}
                .facebook{
                  a{background: url("../images/iconos/iconos-buscador.svg") -1px -4px/135px auto no-repeat; width: 24px; height: 24px; position: relative; float: left;}
                }
                .twitter{
                  a{background: url("../images/iconos/iconos-buscador.svg") -33px -4px/135px auto no-repeat; width: 24px; height: 24px; position: relative; float: left;}
                }
                .instagram{
                  a{background: url("../images/iconos/iconos-buscador.svg") -73px -4px/135px auto no-repeat; width: 24px; height: 24px; position: relative; float: left;}
                }
                .youtube{
                  a{background: url("../images/iconos/iconos-buscador.svg") -107px -4px/135px auto no-repeat; width: 24px; height: 24px; position: relative; float: left;}
                }
            }
            #search-block-form{
                #edit-search-block-form--2-submit{
                    input{width: 80px;}
                }
            }
            
        }
    }
}

//NOTAS
#tabs{background-color: #FFF;border: 1px solid #DDD;padding: 10px;position: fixed;right: 0px;top: 250px;z-index: 3;
    ul{border-bottom: none !important; padding: 10px !important; }
    .primary li a{border-color: #bbb;border-style: solid solid none solid;border-width: 1px;height: auto;margin-right: 0.5em;padding: 0 1em;text-decoration: none;}
    li a{background: none repeat scroll 0 0 #F8F8F8 !important;border: 1px solid #DDD !important;color: #666;display: inline-block;font: 10px/10px Arial;padding: 5px !important;text-align: center;text-transform: uppercase;}
}
//MENU MOVIL OCULTO
#head_movil{
    display: none;
}
//Footer Menu Movil Oculto
#footer_movil{
    display: none;
}
//FORM BOLETIN
#newsletter{margin: 0 auto;background-color: #7DA4AD;width: 98%;height: 80px;display: flex;display: -webkit-flex;display: -moz-flex; justify-content: center; -webkit-justify-content: center; -moz-justify-content: center;
    form{position: relative;width: 100%;}
    .form-item.webform-component{
        .email{font-size: 18px;width: 350px;background-color: #fff;border: 0;height: 32px;position: absolute;bottom: 5px;left: 125px;padding: 0;}
        .description{position: absolute;top: 0;left: 0;right: 0;margin: 0 auto;text-align: center;font-size: 16px;color: #fff;width: 480px;
            strong{font-size: 28px;}
            .logo{background: url(../images/logo.svg) -2px -4px/154px auto no-repeat;width: 145px;height: 30px;text-indent: -9999px;display: inline-block;vertical-align: bottom;}
        }
    }
    .form-actions{margin: 0;position: absolute;bottom: 5px;right: 122px;
        input{background-color: #BB0410;border: none;color: #fff;cursor: pointer;height: 32px;width: 80px;}
    }
}
#newsletter:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 15px;
    border-color: transparent transparent #536273 transparent;
    position: absolute;
    left: -9px;
}

#newsletter:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 0 15px;
    border-color: transparent transparent transparent #536273;
    position: absolute;
    right: -8px;
}

#adaptvSpotDiv_2{display: none;}

/*PAGINADOR PARA SECCIONES*/
.pager{
    .pager-item{background-color: #BB1D1E;border-radius: 3px;
        a{color: #fff; text-decoration: none;}
    }
    .pager-next{background-color: #BB1D1E;border-radius: 3px;
        a{color: #fff; text-decoration: none;}
    }
    .pager-last{background-color: #BB1D1E;border-radius: 3px;
        a{color: #fff; text-decoration: none;}
    }
}

#temas-dia{float: left;width: 100%;margin-bottom: 30px;background-color: #F1F1F1;height: 50px;
    .titulo{float: left;font-size: 18px;line-height:20px; font-weight: 600;color: #4C4C4C;background-color: #B5B5B5;width: 75px;text-align: center;padding: 8px 0px; position: relative; top: -3px;}
    .tema{float: left;width: 125px;padding: 8px 0;margin-left: 39px; line-height: 16px;
        a{font-size: 14px;text-decoration: none;color: #4C4C4C;}
        a:hover{text-decoration: underline;}
    }
    .figur-1{position: relative; top: -3px;width: 0;height: 0;border-top: 27px solid transparent;border-left: 20px solid #B5B5B5;border-bottom: 29px solid transparent;float: left;}
    .figur{background: url(../images/iconos/flecha_tema_day.svg) 0px 0px/19px auto no-repeat;height: 50px;width: 18px;float: left;}
    /*.figur{width: 0;height: 0;border-top: 50px solid transparent;border-left: 100px solid #000;border-bottom: 50px solid transparent;}*/
}

//Apertura Four NOTAS
.view-aperturas.view-id-aperturas.view-display-id-block_8{float: left;width: 200px;height:auto; position: fixed; bottom: 70px;z-index:50;transition:all 0.5s ease; 
    .pestana{width: 0;height: 0;border-top: 20px solid transparent;border-right: 20px solid #F2F2F2;border-bottom: 20px solid transparent;position: absolute;top: 40%;}
    .nota{ float: left;width: 180px;margin-top: 10px;background: #F2F2F2;height: auto;padding: 5px 0px;left: 20px;position: relative; box-shadow:20px 1px 60px -10px #888;
        .tipo{display: none;}
        .icon_video{display: none;background: url(../images/iconos/video.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
        .icon_galeria{display:none;background: url(../images/iconos/galeria.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
        .icon_podcast{display:none;background: url(../images/iconos/podcast.svg) -3px -3px/70px auto no-repeat;height: 66px;width: 88px;float: left;position: absolute;left: 0;top: 3px;opacity: 0.7;z-index: 1;}
        .video{float: left;}
        .foto{float: left;}
        .galeria{float: left;}
        .info{width:90%; float:left; padding:10px; position: relative;text-align:center;
            span{width: 100px;color: #BD1D1D;float: left;position: relative;text-transform: uppercase;font-weight: 600;text-align: left;}
            .sep{width:20px; float:left; position: relative; margin:0px 10px;}
            .titulo{width: 90%;text-align: left;position: relative;float: left;padding: 10px 0px;height: auto;
                a{text-decoration: none;color: #333;font-size: 20px;line-height:22px;font-weight: 600;}
            }
            .resumen{display:none; width: 90%;font-size: 16px;line-height: 18px;text-align: left;position: relative;float: left;}
        }
    }
}

//COMPARTIR EMERGENTE
.compartir{z-index:20; display:none;left:20px; position: fixed; top:500px;margin:-50px;transition:all 0.5s ease; 
    .redes_sociales{position: relative;float:left;width:40px;padding:0px;
        li{list-style:none; float:left; position: relative; width:40px;height:40px;cursor:pointer;margin:0px;}
        .fb{ 
            .st_facebook_large{left:0;background: url(../images/iconos/redes_nota.svg) no-repeat -20px -54px/140px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
            .st_facebook_large:hover{}
        }
        .tw{ 
            .st_twitter_large{background: url(../images/iconos/redes_nota.svg) no-repeat -20px -93px/140px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
        }
        .go{ 
            .st_googleplus_large{background: url(../images/iconos/redes_nota.svg) no-repeat -20px -133px/140px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
        }
        .pin{ 
            .st_pinterest_large{background: url(../images/iconos/redes_nota.svg) no-repeat -20px -173px/140px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
        }
        .wp{
            .st_whatsapp_large{background: url(../images/movil/whatsapp.svg) no-repeat -7px 0px/55px auto transparent;position: relative; width: 40px; height: 40px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
        }
    }
}
//FIN COMPARTIR EMERGENTE

hr{float: left;width: 100%;height: 0!important;margin: 25px 0;}

//MENU SECCION
.menu_seccion{position: relative; float:left; width:100%;height:auto; margin-bottom:20px;
    h3{font-size: 28px;text-transform: uppercase;height: auto;padding: 2px 0px;float: left;position: relative;font-weight: 600;margin: 0px;}
    .cucuta{background:transparent; color:$cucuta; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$cucuta;}
        }//active
    }
    .cúcuta{background:transparent; color:$cucuta; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$cucuta;}
        }//active
    }
    .region{background:transparent; color:$region; width:100%; height:auto; position: relative; float:left;}
    .región{background:transparent; color:$region; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$region;}
        }//active
    }
    .judicial{background:transparent; color:$judicial; width:100%; height:auto; position: relative; float:left;}
    .frontera{background:transparent; color:$frontera; width:100%; height:auto; position: relative; float:left;}
    .actualidad{background:transparent; color: $actualidad; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$actualidad;}
        }//active
    }
    .opinion{background:transparent; color:$opinion; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$opinion;}
        }//active
    }
    .opinión{background:transparent; color:$opinion; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$opinion;}
        }//active
    }
    .deportes{background:transparent; color:$deportes; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$deportes;}
        }//active
    }
    .tendencias{background:transparent; color:$tendencias; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$tendencias;}
        }//active
    }
    .servicios{background:transparent; color:$servicios; width:100%; height:auto; position: relative; float:left;
        .submenu{display:none;}
    }
    .participacion{background:transparent; color:$participacion; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$participacion;}
        }//active
    }
    .participación{background:transparent; color:$participacion; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$participacion;}
        }//active
    }
    .multimedia{background:transparent; color:$multimedia; width:100%; height:auto; position: relative; float:left;
        .active{
            a{font-weight:600;text-shadow: 0.3px 0px #333; color:$multimedia;}
        }//active
    }
    .submenu{background:transparent; position: relative; float:left; width:100%;height:26px; border-bottom: 2px solid #cccccc; padding-bottom: 8px; margin-left: 0px;
        ul{display:inline-block;list-style:none;margin: 1px 0px;padding: 0px; margin-left: -5px;
            li{width:auto; padding:0px 7px; border-right: 1px solid #bdbcbc; margin: 4px 0px; float:left; position: relative;
                a{color:#000; text-decoration:none; font-weight: 600; font-size:13px; text-transform:uppercase;float:left;margin: 1px 0px;}
                a:hover{ text-decoration:underline;}
            }//li
            .first{border-left: none !important;}
            .last{border-right: none !important;}
            .active{
                a{font-weight:600;}
            }//active
        }//ul
    }//submenu
}//FIN MENU

//SIDEBAR Notas recientes lado derecho
.vista-recientes{width: 300px;height: auto;padding: 0px;position: relative;display: block;top: 0px;overflow: hidden;
    .seccion{margin-left:6px; //background-color: #f1f1f1; 
        .color{width: 25px; height: 10px; background-color: gray; float:left; position: relative; margin-top: 6px;margin-right: 5px;}
        a{font-size: 13px;font-weight: 700;text-decoration:none; color:$gris; text-transform: uppercase}
        .tipo{display:none;}
    }
    .recientes{padding: 8px; border-top: 1px solid $grisClarito;
        .nota_izq{display: inline-block;vertical-align: middle;width: 58%;
            .titulo{
                a{line-height:23px; text-decoration: none;color: #000;font-size: 21px;font-weight: 700;}
            }
            .resumen{font-size:16px; line-height:18px;
                p{margin:0;a{text-decoration:none; color:#DB0E24;}}
            }
        }
        .nota_der{display: inline-block;vertical-align: top; position:relative;
            .icon_video{text-indent:-9999px; background: url(../images/iconos/video.svg) -9px -3px/48px auto no-repeat; width:40px; height:30px; float:left;position: absolute;opacity: 0.7;top: -1px;left: 0px;}
            .icon_podcast{text-indent:-9999px; background: url(../images/iconos/podcast.svg) -9px -3px/48px auto no-repeat; width:40px; height:30px; float:left;position: absolute;opacity: 0.7;top: -1px;left: 0px;}
            .icon_galeria{text-indent:-9999px; background: url(../images/iconos/galeria.svg) -9px -3px/48px auto no-repeat; width:40px; height:30px; float:left;position: absolute;opacity: 0.7;top: -1px;left: 0px;}
        }
    }
    .views-row-2{margin-top:15px;}
}/*FIn notas lado derecho*/

/*Suscripciones imagen lateral*/
.suscripciones{height: 240px;margin-bottom:10px; padding:0px 7px; width:290px;float:left; position: relative;}
/*FIN Suscripciones*/

/*Ultimas noticias recientes*/
.recientes_footer{margin-top:25px;width:100%; height:30px; display: block;float: left; background-color:#BB1D1E;
    .titulo{margin:9px 0px; 
        h2{margin:0px;font-size: 13px;line-height: 1;color:#fff;padding:1px;}
        .color{width: 25px; height: 10px; background-color: #fff; float:left; position: relative; margin-top: 2px;margin-right: 5px;margin-left: 20px;}
    }
}
.notas_footer{position:relative; width:100%;height: auto; float:left; margin-top:20px; margin-bottom:10px;
    .vista-recientes-footer{
        .tipo{display:none;}
        .icon_video{display:none;background:url(../images/iconos/video.svg) -9px -3px/55px auto no-repeat;height: 34px;width: 40px;text-indent: -9999px;float: left;position: absolute; right: 80px;top: 31px;opacity:0.7; z-index: 1;}
        .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -9px -3px/55px auto no-repeat;height: 34px;width: 40px;text-indent: -9999px;float: left;position: absolute;right: 80px;top: 31px;opacity:0.7; z-index: 1;}
        .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -9px -3px/55px auto no-repeat;height: 34px;width: 40px;text-indent: -9999px;float: left;position: absolute;right: 80px;top: 31px;opacity:0.7; z-index: 1;}
        .views-row-last{margin-right:0px !important;}
        .views-row{float:left; position: relative; width:325px;margin-right:15px;
            .seccion{width:100%; border-bottom:1px solid #DBDBDB; padding: 5px 0px;height: 11px;margin-bottom:10px;
                .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
            }
            .tipo{display:none;}
            .info{width:195px; padding:0px 10px 0px 0px; float:left; position: relative;height:auto;
                .titulo{float:left; position: relative; width:auto; height:auto; float:left; line-height:22px;
                    a{font-size: 20px; font-weight:600; text-decoration:none; color:#101314;}
                }
                .resumen{font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;}
            }
            .foto{width:115px; height:auto; float:left; position: relative;}
        }
    }
}/*Fin ultimas noticias recientes*/

/*Multimedia reciente*/
.multimedia_recientes_footer{width:100%; height:30px; display: block;float: left; background-color:#333333;
    .titulo{margin:9px 0px; 
        h2{margin:0px;font-size: 13px;line-height: 1;color:#fff;padding:1px;}
        .color{width: 25px; height: 10px; background-color: #fff; float:left; position: relative; margin-top: 2px;margin-right: 5px;margin-left: 20px;}
    }
}
.multimedia_footer{position:relative; width:100%;height: auto; float:left; margin-top:20px; margin-bottom:-20px;
    .view-id-recientes.view-display-id-block_4{width:1006px;height:245px; float:left;position: relative;margin-bottom:10px;padding:10px 0px;overflow:hidden;left:0px;
                .view-content{width:2170px;left: 20px;position: relative;transition: all 0.5s ease-in-out;}
                .views-row {margin-bottom:10px;float:left; width:245px; height:245px; margin-right:20px;}
                .galeria{height:auto; float:left; position: relative; width:250px;
                    .id{display:none;}
                    .icon_galeria{display:block;background:url(../images/iconos/galeria.svg) -8px -5px/75px auto no-repeat;height: 45px;width: 55px;text-indent: -9999px;float: left;position: absolute; left: -2px;top: -1px;opacity:0.7; z-index: 1;}
                    .icon_podcast{text-indent:-9999px; background: url(../images/iconos/podcast.svg) -8px -5px/75px auto no-repeat; width:55px; height:45px; float:left;position: absolute;opacity: 0.7;top: -1px;left: -2px; z-index:1;}
                    .icon_video{text-indent:-9999px; background: url(../images/iconos/video.svg) -8px -5px/75px auto no-repeat; width:55px; height:45px; float:left;position: absolute;opacity: 0.7;top: -1px;left: -2px; z-index:1;}
                    .info{position: absolute; float:left;bottom: 5px;left: 0px;height: auto;width: 225px;padding: 10px;z-index:1;
                        background: rgba(252,248,247,0);
                        background: -moz-linear-gradient(top, rgba(252,248,247,0) 0%, rgba(175,172,171,0.17) 34%, rgba(134,131,131,0.36) 52%, rgba(94,91,90,0.67) 70%, rgba(26,23,23,0.97) 100%);
                        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,248,247,0)), color-stop(34%, rgba(175,172,171,0.17)), color-stop(52%, rgba(134,131,131,0.36)), color-stop(70%, rgba(94,91,90,0.67)), color-stop(100%, rgba(26,23,23,0.97)));
                        background: -webkit-linear-gradient(top, rgba(252,248,247,0) 0%, rgba(175,172,171,0.17) 34%, rgba(134,131,131,0.36) 52%, rgba(94,91,90,0.67) 70%, rgba(26,23,23,0.97) 100%);
                        background: -o-linear-gradient(top, rgba(252,248,247,0) 0%, rgba(175,172,171,0.17) 34%, rgba(134,131,131,0.36) 52%, rgba(94,91,90,0.67) 70%, rgba(26,23,23,0.97) 100%);
                        background: -ms-linear-gradient(top, rgba(252,248,247,0) 0%, rgba(175,172,171,0.17) 34%, rgba(134,131,131,0.36) 52%, rgba(94,91,90,0.67) 70%, rgba(26,23,23,0.97) 100%);
                        background: linear-gradient(to bottom, rgba(252,248,247,0) 0%, rgba(175,172,171,0.17) 34%, rgba(134,131,131,0.36) 52%, rgba(94,91,90,0.67) 70%, rgba(26,23,23,0.97) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f7', endColorstr='#1a1717', GradientType=0 );
                        .seccion{width:220px; padding:0px;height: 11px;margin: 0px;float:left;
                            .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                                a{color: #fff;text-shadow:1px 1px #000; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px; width:180px;}
                            .tipo{text-indent: -9999px;}
                        }
                        .titulo{float:left; position: relative;width: 220px;height: auto;line-height: 20px;padding: 10px 0px 0px 0px;
                            a{font-size: 18px;font-weight: 500;text-decoration: none;color: #fff;text-shadow:1px 1px #000;}
                        }
                    }
                    .miniatura{width:245px; height:auto; float:left; position: relative;cursor:pointer;
                        img{opacity:1;}
                    }
                }//Fin galeria
        .control{z-index:3;cursor: pointer;margin:0px; cursor:pointer; width: 20px;height: 245px;float: left;position: absolute;text-indent:-9999px;}
        .control_left{left: 0px;top: 10px;background: url(../images/iconos/flechas.svg) -8px 80px/55px auto no-repeat #fff;}
        .control_right{right: 0px;top: 10px;background: url(../images/iconos/flechas.svg) -25px 80px/55px auto no-repeat #fff;}
    }
}/*Fin multimedia recientes*/

/*Productos la opinion*/
.center{
    //PRODUCTOS
    .productos{width:100%;padding: 10px 0px 5px 0px;height: 15px;float:left;background:#BB1D1E;
        .color{background:#fff; height:10px; width:25px; float:left;position: relative;text-indent:-9999px; margin-left: 20px;}
        a{color:#fff; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
    }
    .product-content{width:1006px;height:240px; float:left;position: relative;margin-bottom:20px;padding:10px 0px;overflow:hidden;left:0px;
        .content{width:1100px;height:245px; float:left; position: relative;left:20px;transition:all 0.5s ease;}
        .item {margin-bottom:10px;float:left; width:200px; height:auto; margin-right:20px;}
        .producto{height:auto; float:left; position: relative; width:180px; border:1px solid #D9D9D9; padding:10px;
            .resumen{font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;padding:10px 0px;}
            .miniatura{width:180px; height:auto; float:left; position: relative;cursor:pointer;
                a{opacity:1;height: 55px;width: 180px; float:left; position: relative; text-indent:-9999px;}
            }
            .mas{width:60px; height:20px; padding:5px 10px;color:#fff; font-weight:300; font-size:14px; background:$estandar;position: relative;float: left;right: 0px;margin-left: 95px;
                a{color:#fff; text-decoration:none;}
            }
        }
        .deleitese {
            .miniatura a{background:url(../images/iconos/productos.svg) 0px -4px/900px auto no-repeat;}
            .mas {background:#FA9400;
                a{color:#fff;}
            }
        }    
        .club {
            .miniatura a{background:url(../images/iconos/productos.svg) -180px -5px/900px auto no-repeat;}
            .mas {background:#BB1D1E;
                a{color:#fff;}
            }
        }    
        .revista {
            .miniatura a{background:url(../images/iconos/productos.svg) -369px -5px/900px auto no-repeat;}
            .mas {background:#BB1D1E;
                a{color:#fff;}
            }
        }    
        .especiales {
            .miniatura a{background:url(../images/iconos/productos.svg) -540px -5px/900px auto no-repeat;}
            .mas {background:#BB1D1E;
                a{color:#fff;}
            }
        }    
        .clasificados {
            .miniatura a{background:url(../images/iconos/productos.svg) -715px -5px/900px auto no-repeat;}
            .mas {background:#BB1D1E;
                a{color:#fff;}
            }
        }    
        .control{top: 10px;z-index:3;cursor: pointer;margin:0px; cursor:pointer; width: 20px;height: 245px;float: left;position: absolute;text-indent:-9999px;}
        .control_left{left: 0px;background: url(../images/iconos/flechas.svg) -8px 80px/55px auto no-repeat #fff;}
        .control_right{right: 0px;background: url(../images/iconos/flechas.svg) -25px 80px/55px auto no-repeat #fff;}
    } 
    
    //PORTADA
    .view-id-principal.view-display-id-block_16{width: 380px;height: 172px;position: relative;float: left;border-bottom: 1px solid $servicios;padding: 0px 0px 20px 0px;margin-bottom: 20px;margin-right: 15px;top: 0px;
        .pdf{width:210px;height:170px; padding:10px; float:left;
            .imagen{width:140px; height:180px; position: absolute;z-index:1;border:1px solid $estandar;right:10px;}
            .portada{width: 210px;padding: 7px 170px 7px 0px;height: 15px;float: left;background: $servicios;position: relative;display: block;left: -10px;margin-top: -7px;color: #fff;font-size: 13px;margin-bottom: 10px;top: -2px;text-transform: uppercase;
                .color{background: #fff;height: 10px;width: 25px;float: left;position: relative;text-indent: -9999px;margin-left: 20px;margin-right: 10px;margin-top: 3px;text-transform: uppercase;}
            }
            .info{width:200px; float:left; position: relative; height:auto;
                .descripcion{width:180px; font-size: 15px;position: relative;float: left;color: #646464;font-weight: 300;padding: 10px 0px;margin-left: 20px;text-align: center;}
                .boton{width: 60px;height: 20px;padding: 5px 10px;color: #fff;font-weight: 300;font-size: 14px;background: #BB1D1E;position: relative;float:left;margin-left:60px;
                    a{color:#fff; text-decoration:none;}
                }
            }
        }
    }
    //SERVICIOS
    .servicios{width:610px;padding: 10px 0px 5px 0px;height: 15px;float:left;background:$servicios;
        .color{background:#fff; height:10px; width:25px; float:left;position: relative;text-indent:-9999px; margin-left: 20px;}
        a{color:#fff; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
    }
    .servicios-content{width:570px;height:142px; float:left;position: relative;margin-bottom:20px;padding:10px;overflow:hidden;left:10px;border-bottom:1px solid $servicios;
        .content{width:570px;height:152px; float:left; position: relative;}
        .separador{ width:570px; height:1px; background:#D9D9D9; position:relative; float:left;margin:0px 0px 5px 0px;}
        .item {margin-bottom:5px;float:left; width:120px; height:45px; margin-right:0px;border-right:1px solid #D9D9D9; padding:10px;}
        .servicio{height:auto; float:left; position: relative; width:110px;
            .nombre{font-size:15px;position:relative; float:left; color:$servicios; padding:10px 0px;font-weight:600;text-align:left;width:60px; }
            .miniatura{width:50px; height:auto; float:left; position: relative;cursor:pointer;
                a{opacity:1;height: 55px;width:50px; float:left; position: relative; text-indent:-9999px;}
            }
        }
        .clima {
            .miniatura a{background:url(../images/iconos/s_clima.svg) 0px -4px/50px auto no-repeat;}
        }    
        .indicador {
            .miniatura a{background:url(../images/iconos/s_indicadores.svg) 0px -4px/50px auto no-repeat;}
            .nombre{font-size:14px; line-height:14px;}
        }    
        .chance {
            .miniatura a{background:url(../images/iconos/s_chance.svg) 0px -4px/50px auto no-repeat;}
        }    
        .portadapdf {
            .miniatura a{background:url(../images/iconos/s_portada.svg) 0px -4px/50px auto no-repeat;}
        }    
        .pico {
            .miniatura a{background:url(../images/iconos/s_pico.svg) 0px -4px/50px auto no-repeat;}
            .nombre{font-size:14px; line-height:14px;}
        }    
        .droguerias {
            .miniatura a{background:url(../images/iconos/s_droguerias.svg) 0px -4px/50px auto no-repeat;}
        }    
        .notarias {
            .miniatura a{background:url(../images/iconos/s_notarias.svg) 0px -4px/50px auto no-repeat;}
        }    
        .calendario {
            .miniatura a{background:url(../images/iconos/s_calendario.svg) 0px -4px/50px auto no-repeat;}
            .nombre{font-size:14px; line-height:14px;}
        }    
    }
}
/*Fin productos la opinion*/

//TABOOLA
.divisor_taboola{left: -15px;position: relative;margin-bottom: 30px;margin-top: 0px;}
#taboola-below-article-thumbnails{left: -15px;position: relative; background-color:#f1f1f1;
    .trc_rbox_header_span{font-size: 16px !important;color: #000 !important;text-transform: uppercase !important;width: 200px !important;padding: 0px 0px !important;margin: 10px 0px 0px 20px;float:left!important ;}
    .trc_spotlight_item {border:1px solid #E8E7E8;width:205px; height:240px;float:left; position: relative; background:#fff;margin-left:19px;
        .thumbBlock_holder{display:block; float:left; position: relative; overflow:hidden;width:198px; height:110px;
                .thumbBlock{width:198px; height:110px;transition:all 0.2s ease;}
                .thumbBlock:hover{opacity:0.9; transition:all 0.2s ease;}
                .thumbBlock.a{border:none;}
            }
        .item-label-href {float:left; position: relative; width:180px; height:auto; float:left; line-height:15px;padding:10px 5px; margin-bottom:0px;
            .video-label, .video-title{font-size: 20px; font-weight:600; text-decoration:none; color:#101314;}
            }
        .branding{font-size:14px;position:relative; float:left;color:#646464; text-decoration:none;font-weight:600; }
    } 
    .trc_header_ext{width: auto;margin-right: 16px;}
    #outer_3589{margin:0;}
    #rbox-t2m{margin-left: 13px;}
    .logoDiv{padding: 5px 0;}
}
//FIN TABOOLA

//FIN NOTAS
#seccion {
    .content{
        #plebiscito {display:none !important;}
    }
}
#plebiscito_notas{margin-bottom: 30px;position: fixed; right:0px; bottom:50px; z-index:50;
    .triangulo {width: 0;height: 0; border-top: 20px solid transparent;border-left: 40px solid #F2F2F2;border-bottom: 20px solid transparent;margin: 0px;margin: 0px;right: 0px;top: 40%;position: absolute;z-index: 2;}
    .box{width: 180px;height:220px; position: relative;border-right: 1px solid #D5D5D5;background-color: #F2F2F2;border: 1px solid #CCCCCC;display: flex;display: -webkit-flex;display: -moz-flex; right:30px;
        .titulo{height: 32px;background-color: #95D9E8;position: relative;top: 15px;left: -1px;
            .logo{background: url(../images/iconos/logo_paz.svg) -106px -89px/310px auto no-repeat;width: 180px;height: 32px;margin: 0 auto;}
        }
        .nacional{display: flex;display: -webkit-flex;display: -moz-flex;width: 180px;height: auto;float: left;position: absolute;
            .si{position: absolute;top: 35px;left: 40px;font-size: 20px;color: #375263;}
            .no{position: absolute;top: 35px;right: 40px;font-size: 20px;color: #375263;}
            .nacionalpsi{width: 40%;margin-top: 90px;position: relative;margin-right:5%; margin-left:5%;
                canvas{width: 100%;margin: 0 auto;display: block !important;}
                .porcentaje{text-align: center;position: absolute;top: 20%;left: 0; right: 0;margin: 0 auto;width: 100%;font-size: 17px;color: #4A4A4A;}
                .valor{text-align: center;margin: 10px 0;font-size:11px;}
            }
            .nacionalpno{width: 40%;margin-top: 90px;position: relative;
                canvas{width: 100%;margin: 0 auto;display: block !important;}
                .porcentaje{text-align: center;position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 100%;font-size: 17px;color: #4A4A4A;}
                .valor{text-align: center;margin: 10px 0;font-size:11px;}
            }
        }
    }
}
//PLEBISCITO
#plebiscito{height: 540px;background-color: #F2F2F2;border: 1px solid #CCCCCC;margin-bottom: 30px;display: flex;display: -webkit-flex;display: -moz-flex;
    .izq{width: 50%;position: relative;border-right: 2px solid #D5D5D5;
        .titulo{height: 32px;background-color: #95D9E8;position: relative;top: 15px;left: -1px;
            .logo{background: url(../images/iconos/logo_paz.svg) -106px -89px/310px auto no-repeat;width: 200px;height: 32px;margin: 0 auto;}
        }
        .nacional{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 80px;top: 50px;
            .si{position: absolute;top: -6px;left: 100px;font-size: 60px;color: #375263;font-family: 'PT Sans Narrow', sans-serif;}
            .no{position: absolute;top: 0;right: 80px;font-size: 60px;color: #375263;font-family: 'PT Sans Narrow', sans-serif;}
            .nacionalpsi{width: 50%;margin-top: 10px;position: relative;
                canvas{width: 180px;margin: 0 auto;display: block;}
                .porcentaje{text-align: center;position: absolute;top: 30%;left: 0; right: 0;margin: 0 auto;width: 140px;font-size: 43px;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 10px 0;font-size: 12px;}
            }
            .nacionalpno{width: 50%;margin-top: 10px;position: relative;
                canvas{width: 180px;margin: 0 auto;display: block;}
                .porcentaje{text-align: center;position: absolute;top: 30%;left: 0;right: 0;margin: 0 auto;width: 140px;font-size: 43px;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 10px 0;font-size: 12px;}
            }
        }
        h3{display: block;margin: 0 auto;width: 250px;font-size: 14px;color: #9A9A9A;text-align: center;}
        h3:after{content:"----------"}
        h3:before{content:" ----------"}
        .nulosysufraga{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 30px;
            .nulos{width: 50%;position: relative; display:none;
                canvas{display: block;margin: 0 auto;display:none;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;color: #4A4A4A;font-size: 32px;width: 80px;text-align: center;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 10px 0;font-size: 12px;}
            }
            .sufragantes{width: 100%;position: relative;
                canvas{display: block;margin: 0 auto;}
                .porcentaje{position: absolute;top: 25%;left: 0;right: 0;margin: 0 auto;color: #4A4A4A;font-size: 24px;width: 80px;text-align: center;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 10px 0;font-size: 12px;}
            }
        }
    }
    .der{width: 50%;display: flex;display: -webkit-flex;display: -moz-flex;position: relative;
        h3{position: absolute;margin: 5px auto;text-align: center;font-size: 16px;display: block;left: 0;right: 0;color: #9A9A9A;}
        .colum1{width: 50%;margin-top: 35px;}
        .colum2{width: 50%;margin-top: 35px;}
        .cucuta{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 25px;width: 100%;position: relative;
            .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .cucutapsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin:0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
            .cucutapno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
        }
        .cucuta:after{content: "Cúcuta";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 100px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}
        .patios{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 25px;width: 100%;position: relative;
           .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .patiospsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;}
            }
            .patiospno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }   
        }
        .patios:after{content: "Los Patios";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 100px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}

        .rosario{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 40px;width: 100%;position: relative;
           .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .rosariopsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
            .rosariopno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }   
        }
        .rosario:after{content: "Villa del Rosario";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 130px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}

        .ocana{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 40px;width: 100%;position: relative;
           .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .ocanapsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
            .ocanapno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }   
        }
        .ocana:after{content: "Ocaña";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 100px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}

        .pamplona{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 60px;width: 100%;position: relative;
           .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .pamplonapsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
            .pamplonapno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }   
        }
        .pamplona:after{content: "Pamplona";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 100px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}

        .norte{display: flex;display: -webkit-flex;display: -moz-flex;margin-top: 60px;width: 100%;position: relative;
           .si{position: absolute;top: -40px;left: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .no{position: absolute;top: -40px;right: 50px;margin: 0;margin-top: 10px;color: #385162;}
            .nortepsi{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }
            .nortepno{width: 50%;position: relative;
                canvas{display: block;margin: 0 auto;width: 80px;}
                .porcentaje{position: absolute;top: 20%;left: 0;right: 0;margin: 0 auto;width: 80px;font-size: 30px;text-align: center;color: #4A4A4A;font-family: 'Abel', sans-serif;}
                .valor{text-align: center;margin: 0px 15px 10px 15px;font-size: 12px;width:100px;}
            }   
        }
        .norte:after{content: "Norte de Santander";display: block;position: absolute;left: 0;right: 0;margin: 0px auto;width: 160px;text-align: center;bottom: -15px;color: #5E5E5E;font-size: 18px;font-weight: 600;}
    }
}