@media screen and (max-width: 768px){
	#head_desktop{
		display: none;
	}
	//Icon menu normal
	#head_movil{position: fixed;z-index: 50;display: flex;display: -webkit-flex;display: -moz-flex;align-items: center;-webkit-align-items: center;-moz-align-items: center;background-color: #BB1D1E;height: 90px;width: 100%;
		#hamburger{width: 50px;height: 30px;position: relative;top: -9px; left: 5%;transition: .5s ease-in-out;cursor: pointer;
			span{display: block;position: absolute;height: 7px;width: 50%;background: transparent;opacity: 1;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
			span:nth-child(even){left: 50%;border-radius: 0;}
			span:nth-child(odd){left:0px;border-radius: 0;}
			span:nth-child(1), span:nth-child(2){top: 0px;}
			span:nth-child(3), span:nth-child(4){top: 12px;background-color: #fff;}
			span:nth-child(5), span:nth-child(6){top: 24px;}
			.izq_arriba{width: 32%;height: 0;border-left: 9px solid transparent;border-right: 0px solid transparent;border-bottom: 7px solid #fff;}
			.der_arriba{width: 32%;height: 0;border-left: 0px solid transparent;border-right: 9px solid transparent;border-bottom: 7px solid #fff;}
			.izq_abajo{width: 32%;height: 0;border-left: 9px solid transparent;border-right: 0px solid transparent;border-top: 7px solid #fff;}
			.der_abajo{width: 32%;height: 0;border-left: 0px solid transparent;border-right: 9px solid transparent;border-top: 7px solid #fff;}
		}//Fin Hamburger
		#hamburger.open{			
			span:nth-child(1), span:nth-child(6){-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);}
			span:nth-child(2),span:nth-child(5){-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
			span:nth-child(1){left: 6px;top: 10px;}
			span:nth-child(2){left: calc(50% - 2px);top: 10px;}
			span:nth-child(3){left: -50%;opacity: 0;}
			span:nth-child(4){left: 100%;opacity: 0;}
			span:nth-child(5){left: 5px;top: 29px;}
			span:nth-child(6){left: calc(50% - 2px);top: 28px;}
		}
		#logo{padding: 0px;position: relative;float:left;width: 235px;top: 0;opacity: 1;transition: all 0.5s ease-in-out; margin: 0 auto;
	      h1 {background: url(../images/logo.svg) 5px -5px/230px auto no-repeat;height: 50px;width: auto;display: block;text-indent: -9999px;margin: 0 auto;}
	      a {display:block;text-indent:-9999px;}
	    }

		/*Menu table*/
		#menu_movil.desplegar{left: 0;}
		#menu_movil{position: fixed;top: 90px;right: 0;bottom: 0;left: -100%;background-color: #333333;z-index: 50; width: 100%;transition: .5s;
			.movil{display: none;}
			.seccion{width: 96%;margin: 0 2%;border-bottom: 2px solid #666666;padding-bottom: 10px;
				form{width: 100%;height: 30px;margin: 15px auto;
					input{font-size: 18px;color: #fff;background: url(../images/iconos/lupa_menu.svg) no-repeat 1px 0px/40px auto transparent;width: 100%;height: 30px;border: none;background-color: #666666;}
					input:focus{outline: none; background-image:none;}
				}
				.iconos{padding: 0;width: 60%;margin: 0; display: inline-block; vertical-align: middle;
					li{list-style: none;display: inline-block;vertical-align: top;text-align: center;margin: 0 6px;
						#clasif{background: url(../images/iconos/iconos_menu.svg) no-repeat -15px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#ingreso{background: url(../images/iconos/iconos_menu.svg) no-repeat -117px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#contac{background: url(../images/iconos/iconos_menu.svg) no-repeat -230px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#suscrip{background: url(../images/iconos/iconos_menu.svg) no-repeat -333px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						a{color: #fff;text-decoration: none;text-transform: uppercase;font-size: 10px;}
						a,span:hover{opacity: .7;}
					}
				}
				.table{display: block;}
				.bloque{padding: 0;width: 135px;display: inline-block;vertical-align: top;position: relative;margin-top: 15px;margin-bottom: 0;
					li{list-style: none;margin-bottom: 5px;
						a{text-decoration: none; color: #CCCCCC; font-size: 14px; text-transform: uppercase;}
					}
				}
				.cucuta{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $cucuta;}
					.linea{border-left: 2px solid $cucuta;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.region{padding-left: 5px;margin-left: 30px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $region;}
					.linea{border-left: 2px solid $region;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.judicial{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $judicial;}
				}
				.frontera{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $frontera;}
				}
				.actualidad{padding-left: 5px;margin-left: 28px;width: 85px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $actualidad;}
					.linea{border-left: 2px solid $actualidad;height: 136px;position: absolute;top: 5px;left: -1px;}
				}
				.opinion{padding-left: 5px;margin-left: 30px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $opinion;}
					.linea{border-left: 2px solid $opinion;height: 86px;position: absolute;top: 5px;left: -1px;}
				}
				.deportes{padding-left: 5px;margin-left: 28px;width: 124px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $deportes;}
					.linea{border-left: 2px solid $deportes;height: 114px;position: absolute;top: 5px;left: -1px;}
				}
				.entretenimiento{padding-left: 5px;margin-left: 30px;width: 140px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $entretenimiento;}
					.linea{border-left: 2px solid $entretenimiento;height: 163px;position: absolute;top: 5px;left: -1px;}
				}
				.servicios{padding-left: 5px;margin-left: 28px;width: 70px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $servicios;}
				}
				.participacion{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $participacion;}
				}
			}//Fin seccion
			.border{border:none;}
			.redes_sociales.table{display: inline-block; vertical-align: initial;width: 38%;
				ul{padding: 0;width: 100%;margin: 0;
					li{list-style: none;display: inline-block;margin: 0 9px;}
					a:hover{opacity: .7;}
				}
				.facebook{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -10px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.twitter{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -81px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.instagram{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -152px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.youtube{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -222px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
			}
		}/*Fin menu table */  
	}//Fin head movil
	/*Inicio Footer*/
	#footer_desktop{
		display: none;
	}
	#footer_movil{display: block;
		#logo{padding:0px; position: relative; width: 100%; height:54px; float: left; top: 5px; opacity: 1;background:#BA2025; transition: all 0.5s ease-in-out;
          h1 {background:url(../images/logo.svg) 0px -5px/190px auto no-repeat; height:40px; width:180px; display:block; text-indent:-9999px;margin: 7px auto;;
            a {display:block; height:40px; text-indent:-9999px;}
          }
        }
        .copy_content{width: 100%;height: auto;float: left;background-color: #E6E6E6;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center; -webkit-justify-content: center; -moz-justify-content: center;
        	.bloque{padding: 0;margin: 0 10px;width: 120px;
				li{list-style: none;
					a{text-decoration: none; color: #333;}
				}
				li:hover{opacity: .7;}
				.titulo{font-size: 18px;text-transform: uppercase;font-weight: 600;}
        	}
        	.bloque1, .bloque3{border-right: 1px solid #333;}
        	.bloque1, .bloque2{margin-top: 30px;}
        	.bloque3, .bloque4{margin-top: 20px;}
        	.bloque1,.bloque2,.bloque3,.bloque4{display: inline-block;vertical-align: top;}
        	.bloque5{text-align: center;margin-top: 40px;width: 100%;}
        	.info_{border: 1px solid #333333;padding: 0;position: relative;height: auto;width: 100%;margin: 20px;
	        .logo_icon{padding:0px; position: relative; width: 180px; height:60px; top: 0; opacity: .5; transition: all 0.5s ease-in-out; margin: 0 auto;
	          h1 {background:url(../images/iconos/logo_footer.svg) -10px 0px/190px auto no-repeat; height:70px; width:auto; display:block; text-indent:-9999px; margin: 0 auto;
	            a {display:block; height:50px; text-indent:-9999px;}
	          }
	        }
	        .txt{color: #333;font-size: 12px;float: left;position: relative;width: 100%;height: auto;top: 10px;margin-bottom: 20px;border-right: 1px solid #333;
	          p{line-height:14px; float:left; position: relative; margin:0px 20px;
	            span{text-transform:uppercase;font-weight:600;}
	          }
	        }
	        .redes_footer{width: 150px; height: 75px; position: relative; list-style: none; top:15px; left:0px; padding:0px;text-align: center;margin: 0 auto;
	          h2{font-size:14px; color:#333; text-transform:uppercase; width:100%; padding:0px 0px 0px 5px;}
	          a{margin: 0px;}
	          a:hover{opacity: 0.7;}
	          li.leaf{list-style: none; margin: 0px; padding: 0px;}
	          .facebook{ 
	            a{background: url(../images/iconos/redes_footer.svg) no-repeat -25px -15px/178px auto transparent;position: relative; width: 30px; height: 30px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
	          }
	          .twitter{ 
	            a{background: url(../images/iconos/redes_footer.svg) no-repeat -58px -15px/178px auto transparent;position: relative; width: 30px; height: 30px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
	          }
	          .instagram{ 
	            a{background: url(../images/iconos/redes_footer.svg) no-repeat -91px -15px/178px auto transparent;position: relative; width: 30px; height: 30px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
	          }
	          .youtube{ 
	            a{background: url(../images/iconos/redes_footer.svg) no-repeat -123px -15px/178px auto transparent;position: relative; width: 30px; height: 30px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
	            }
	          }
	        }
        }//Fin copy_content
	}//Fin Footer
}//Fin media 768

@media screen and (max-width: 400px){
	.der{display: none;}
	#head_movil{//Icon hamburger mas pequeño
		#hamburger{width: 36px;
			span{height: 5px;}
			span:nth-child(1), span:nth-child(2){top: 0px;}
			span:nth-child(3), span:nth-child(4){top: 10px;}
			span:nth-child(5), span:nth-child(6){top: 20px;}
			.izq_arriba{width: 25%;border-bottom: 5px solid #fff;}
			.der_arriba{width: 25%;border-bottom: 5px solid #fff;}
			.izq_abajo{width: 25%;border-top: 5px solid #fff;}
			.der_abajo{width: 25%;border-top: 5px solid #fff;}
		}
		#hamburger.open{
			span:nth-child(5){top: 23px;}
			span:nth-child(6){top: 23px;}
		}
	}//Fin head movil
}//Fin 400px

@media screen and (max-width: 600px){
	/*Menu movil*/
	#head_movil{position: fixed;z-index: 50;
		#menu_movil.desplegar{left: 0;}
		#menu_movil{position: fixed;top: 90px;right: 0;bottom: 0;left: -100%;background-color: #333333;z-index: 50; width: 100%;transition: .5s;overflow: scroll;height: 80%;padding-bottom: 20%;
			.movil{display: block;}
			.seccion{display: block;width: 290px;margin: 0 auto;border-bottom: 2px solid #666666;padding-bottom: 10px;
				form{width: 290px;height: 30px;margin: 15px auto;
					input{font-size: 18px;color: #fff;background: url(../images/iconos/lupa_menu.svg) no-repeat 1px 0px/40px auto transparent;width: 290px;height: 30px;border: none;background-color: #666666;}
					input:focus{outline: none; background-image:none;}
				}
				.iconos{padding: 0;width: 290px;margin: 0 auto;
					li{list-style: none;display: inline-block;vertical-align: top;text-align: center;margin: 0 2px;
						#clasif{background: url(../images/iconos/iconos_menu.svg) no-repeat -15px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#ingreso{background: url(../images/iconos/iconos_menu.svg) no-repeat -117px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#contac{background: url(../images/iconos/iconos_menu.svg) no-repeat -230px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#suscrip{background: url(../images/iconos/iconos_menu.svg) no-repeat -333px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						a{color: #fff;text-decoration: none;text-transform: uppercase;font-size: 10px;}
						a,span:hover{opacity: .7;}
					}
				}
				.redes_sociales.table, .judicial.table, .frontera.table, .actualidad.table, .opinion.table, .deportes.table, .entretenimiento.table, .servicios.table, .participacion.table{display: none;}
				.bloque{padding: 0;width: 135px;display: inline-block;vertical-align: top;position: relative;margin-top: 15px;margin-bottom: 0;
					li{list-style: none;margin-bottom: 5px;
						a{text-decoration: none; color: #CCCCCC; font-size: 14px; text-transform: uppercase;}
					}
				}
				.cucuta{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $cucuta;}
					.linea{border-left: 2px solid $cucuta;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.region{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $region;}
					.linea{border-left: 2px solid $region;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.judicial{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $judicial;}
				}
				.frontera{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $frontera;}
				}
				.actualidad{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $actualidad;}
					.linea{border-left: 2px solid $actualidad;height: 136px;position: absolute;top: 5px;left: -1px;}
				}
				.opinion{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $opinion;}
					.linea{border-left: 2px solid $opinion;height: 86px;position: absolute;top: 5px;left: -1px;}
				}
				.deportes{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $deportes;}
					.linea{border-left: 2px solid $deportes;height: 152px;position: absolute;top: 5px;left: -1px;}
				}
				.entretenimiento{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $entretenimiento;}
					.linea{border-left: 2px solid $entretenimiento;height: 182px;position: absolute;top: 5px;left: -1px;}
				}
				.servicios{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $servicios;}
				}
				.participacion{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $participacion;}
				}
			}//Fin seccion
			.redes_sociales{margin-top: 15px;display: block;width: auto;
				ul{padding: 0;width: 225px;margin: 0 auto;
					li{list-style: none;display: inline-block;margin: 0 11px;}
					a:hover{opacity: .7;}
				}
				.facebook{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -10px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.twitter{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -81px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.instagram{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -152px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.youtube{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -222px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
			}
		}//Fin menu movil
	}//Fin head movil
}//Fin 500 px