@media screen and (max-width: 600px){
	.pauta_movil{display: block;}
	.pauta{display: none;}
	.pautas_header{display: none;}
	.notas_header{display: none;}
	/*Menu movil*/
	#head_movil{position: fixed;z-index: 50;
		#menu_movil.desplegar{left: 0;}
		#menu_movil{position: fixed;top: 60px;right: 0;bottom: 0;left: -100%;background-color: #333333;z-index: 50; width: 100%;transition: .5s;overflow: scroll;height: 80%;padding-bottom: 23%;
			.movil{display: block;}
			.seccion{display: block;width: 290px;margin: 0 auto;border-bottom: 2px solid #666666;padding-bottom: 10px;
				form{width: 290px;height: 30px;margin: 15px auto;
					input{font-size: 18px;color: #fff;background: url(../images/iconos/lupa_menu.svg) no-repeat 1px 0px/40px auto transparent;width: 290px;height: 30px;border: none;background-color: #666666;}
					input:focus{outline: none; background-image:none;}
				}
				.iconos{padding: 0;width: 290px;margin: 0 auto;
					li{list-style: none;display: inline-block;vertical-align: top;text-align: center;margin: 0 2px;
						#clasif{background: url(../images/iconos/iconos_menu.svg) no-repeat -15px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#ingreso{background: url(../images/iconos/iconos_menu.svg) no-repeat -117px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#contac{background: url(../images/iconos/iconos_menu.svg) no-repeat -230px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						#suscrip{background: url(../images/iconos/iconos_menu.svg) no-repeat -333px -5px/400px auto transparent;width: 60px;height: 50px;display: block;margin: 0 auto;}
						a{color: #fff;text-decoration: none;text-transform: uppercase;font-size: 10px;}
						a,span:hover{opacity: .7;}
					}
				}
				.redes_sociales.table, .judicial.table, .frontera.table, .actualidad.table, .opinion.table, .deportes.table, .tendencias.table, .servicios.table, .participacion.table{display: none;}
				.bloque{padding: 0;width: 135px;display: inline-block;vertical-align: top;position: relative;margin-top: 15px;margin-bottom: 0;
					li{list-style: none;margin-bottom: 5px;
						a{text-decoration: none; color: #CCCCCC; font-size: 14px; text-transform: uppercase;}
					}
				}
				.cucuta{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $cucuta;}
					.linea{border-left: 2px solid $cucuta;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.region{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $region;}
					.linea{border-left: 2px solid $region;height: 62px;position: absolute;top: 5px;left: -1px;}
				}
				.judicial{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $judicial;}
				} 
				.frontera{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $frontera;}
				}
				.actualidad{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $actualidad;}
					.linea{border-left: 2px solid $actualidad;height: 136px;position: absolute;top: 5px;left: -1px;}
				}
				.opinion{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $opinion;}
					.linea{border-left: 2px solid $opinion;height: 86px;position: absolute;top: 5px;left: -1px;}
				}
				.deportes{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $deportes;}
					.linea{border-left: 2px solid $deportes;height: 152px;position: absolute;top: 5px;left: -1px;}
				}
				.tendencias{padding-left: 5px;margin-left: 10%;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $tendencias;}
					.linea{border-left: 2px solid $tendencias;height: 182px;position: absolute;top: 5px;left: -1px;}
				}
				.servicios{padding-left: 5px;margin-left: 28px;width: 112px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $servicios;}
				}
				.participacion{padding-left: 5px;margin-left: 28px;width: 90px;
					span{width: 27px;height: 10px;position: absolute;left: -28px;top: 5px;background-color: $participacion;}
				}
			}//Fin seccion
			.redes_sociales{margin-top: 15px;display: block;width: auto;
				ul{padding: 0;width: 225px;margin: 0 auto;
					li{list-style: none;display: inline-block;margin: 0 11px;}
					a:hover{opacity: .7;}
				}
				.facebook{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -10px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.twitter{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -81px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.instagram{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -152px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
				.youtube{width: 30px;height: 30px;
					a{display: block;background: url(../images/iconos/iconos_menu_redes.svg) no-repeat -222px -23px/260px auto transparent;width: 30px;height: 30px;}
				}
			}
		}//Fin menu movil
	}//Fin head movil
	//HOME
	#home{
		#content{
			.left{
				.izq{width: 100%; margin: 0;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
					.view-id-principal.view-display-id-block{
						.nota{
							.icon_video{left: -5px;top: 55px;}
							.icon_galeria{left: -5px;top: 55px;}
							.icon_podcast{left: -5px;top: 55px;}
						}
					}
				}
				.cen{width: 100%; margin: 0;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
					.deportes{width:67%;}
					.view-id-principal.view-display-id-block_6{width:60%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
					}

					.economia{width:67%;}
					#indicadores{width:68%;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
						.info{width: 100%;
							.portada{width:100%; display: flex!important;display: -webkit-flex!important;display: -moz-flex!important;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
								.linea{width: 100%;}
							}
						}
						.patrocinio{width:70%;}
					}
					.view-id-principal.view-display-id-block_8{width:61%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
					}
					.cucuta{width:67%;}
					.view-id-principal.view-display-id-block_7{width:61%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
					}
					.view-id-principal.view-display-id-block_4{width:67%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
							.nota{width:375px;
								.info{width:270px;}
							}
						}
					}
				}
				.mid{width: 100%; margin: 0;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
					.p600x90{display:none;}
					.view-id-principal.view-display-id-block_3{width:67%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
					}
					.view-id-principal.view-display-id-block_5{width:67%;
						.views-row{width:100%; display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
							.nota{width:375px;
								.info{width:270px;}
							}
						}
					}
					.infografias{width:92%;height:auto;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
						.view-id-principal.view-display-id-block_15{width:100%;height:auto;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
					}
				}
			}
			.right{display:none;
			}
			.center{width: 100%; margin: 0;
				.zonacomercial{width:96%; height:auto;
					.content{width:auto; height:auto;}
				}
				.view-id-principal.view-display-id-block_9{width:93.7%;
					.frame_video{border: none;width: 100%;position: relative;padding-top: 56.25%;margin-bottom: 15px;margin-top: 15px;height: auto;
						.iframeyoutube{padding: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;}
						.fb-video{padding: 0;position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;}
					}
					.view-content{width: 100%;margin: 0px;display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;
						.views-row{margin-right:10px;}
					}
				}
				.view-id-principal.view-display-id-block_10{width:96.7%;}
				.view-id-principal.view-display-id-block_11{width:96.7%;}
				.product-content{width:98.5%;}
				.view-id-principal.view-display-id-block_17{display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center;}
				.view-id-principal.view-display-id-block_16{display:none;}
				.servicios {width:100%;}
				.servicios-content {width:90.7%;
					.content{display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: center;-webkit-justify-content: center;-moz-justify-content: center; width:initial; height:initial;}
				}
			}	
		}
	}
	//FIN HOME

	#nota {
		.izq {
			.contenido {
				.texto{overflow: hidden;
					.twitter-tweet{width: 100%!important;}
					iframe{width: 100%!important;}
					img{width: 100%!important;}

				}
				.autor {height:auto;
					.node-autor{width: 95%;height:110px;}
				}
			}
		}
	}

	.notas_footer .vista-recientes-footer .icon_video{right: 90px;}
	.notas_footer .vista-recientes-footer .icon_galeria{right: 90px;}
	.notas_footer .vista-recientes-footer .icon_podcast {right: 90px;}

	/*Inicio Videos */
	#video{
		.cen{
			.contenido{
				.video-player{margin-bottom: 50px;margin-top:70px;}				
			}//Fin contenido
		}
	}/* Fin Videos */

	#error_404{
		.img{width: 100%;margin-top: 80px;left: -25px;}
	}//Fin Error 404

	#aperturas{
		.view-aperturas.view-id-aperturas.view-display-id-block{
			.views-row{
				.nota{
					.info{width: 90%;}
				}
			}
		}

		.view-aperturas.view-id-aperturas.view-display-id-block_2{
			.view-content{
				 .views-row{
				 	.nota{flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;}
				}
			}
		}
	}
	//FORM BOLETIN
	#newsletter{
	    .form-item.webform-component{width:80%;
	        .email{width: 90%;margin: 0px 10px;}
	        .description{height:auto;}
	    }
	    .form-actions{
	        input{}
	    }
	}

	#especiales{
		.notas-relacionadas{
			.view-especiales.view-id-especiales.view-display-id-block_2{
				.view-content{justify-content: center;}
			}
		}	
	} 

	#perfil_columnista{
		.izq{
			.contenido{flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;}
			.columnas{
				.view-id-opinion.view-display-id-block_9{
					.view-content{flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;
						.views-row{width: 100%;}
					}
				}
			}
		}
		.der{display: none;}
	}

}//Fin 600 px