#pamplona{width: 1006px;padding: 20px 09px;margin: 0 auto;position: relative;
    .content{width: 100%; float:left; margin-top: 40px; position: relative;
        .izq{width: 640px;margin-right: 15px;float: left;position: relative;height: auto;
            //DESTACADA
            .view-id-s_general.view-display-id-block{width:640px;height:540px; float:left;position: relative;margin-bottom:15px; margin-right:15px;
                .nota{height:auto; float:left; position: relative;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/108px auto no-repeat;height: 68px;width: 100px;text-indent: -9999px;float: left;position: absolute;left: 0px;bottom: 100px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/108px auto no-repeat;height: 68px;width: 100px;text-indent: -9999px;float: left;position: absolute;left: 0px;bottom: 100px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/108px auto no-repeat;height: 68px;width: 100px;text-indent: -9999px;float: left;position: absolute;left: 0px;bottom: 100px;opacity:0.7; z-index: 1;}
                    .seccion{width:100%; padding: 5px 0px;height: 11px;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:640px; height:auto; float:left; position: relative;}
                    .galeria{width:640px; height:auto; float:left; position: relative;}
                    .foto{width:640px; height:auto; float:left; position: relative;}
                    .titulo{float:left; position: relative; width:640px; height:auto; float:left; line-height:26px;padding:10px 0px; margin-bottom:0px;
                        a{font-size: 24px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin nota
            }
            //LISTA
            .view-id-s_general.view-display-id-block_2{width:640px;height:auto; float:left;position: relative;margin-bottom:10px; margin-right:15px;
                .views-row{margin-right:20px;float:left;}
                .views-row-last{margin-right:0px;}
                .nota{height:330px; float:left; position: relative; width:300px;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 133px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 133px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 133px;opacity:0.7; z-index: 1;}
                    .seccion{width:100%; padding: 5px 0px;height: 11px;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:310px; height:auto; float:left; position: relative;}
                    .galeria{width:310px; height:auto; float:left; position: relative;}
                    .foto{width:310px; height:auto; float:left; position: relative;}
                    .titulo{float:left; position: relative; width:310px; height:auto; float:left; line-height:20px;padding:10px 0px; margin-bottom:0px;
                        a{font-size: 18px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin nota
            }
        }//FIN IZQ
        .der{width: 350px;margin-right: 0px;float: left;position: relative;height: auto;
            //COLUMNA
            .view-id-s_general.view-display-id-block_1{width:350px;height:auto; float:left;position: relative;margin-bottom:10px;
                .views-row{margin-bottom:15px;width:100%; height:170px; float:left;overflow:hidden;}
                .nota{height:auto; float:left; position: relative;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -7px;bottom: -2px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -7px;bottom: -2px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -7px;bottom: -2px;opacity:0.7; z-index: 1;}
                    .seccion{width:150px; padding: 0px 0px 5px 0px;height: 11px;float:left;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:185px; height:auto; float:left; position: relative; margin-right:10px;}
                    .galeria{width:185px; height:auto; float:left; position: relative; margin-right:10px;}
                    .foto{width:185px; height:auto; float:left; position: relative; margin-right:10px;}
                    .titulo{float:left; position: relative; width:150px; height:auto;line-height:20px;padding:5px 0px; margin-bottom:0px;
                        a{font-size: 18px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{width:150px;font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin nota
            }
        }
        .mid{width: 100%;margin-right: 0px;margin-bottom:15px; float: left;position: relative;height: auto;border-bottom: 2px solid #B4B7BB;
            .subseccion{width:100%;padding: 0px 0px 15px 0px;height: 11px;float:left;color:$seccion; text-transform:uppercase;font-size:13px;
                .color{background:$estandar; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                span{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}

            }
            .subseccion{width:100%;padding: 0px 0px 15px 0px;height: 11px;float:left;color:$region; text-transform:uppercase;font-size:13px;
                .color{background:$region; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
            }
            //OTROS
            .view-s-general-sub.view-display-id-block_1{margin-top: 20px;width:1006px;height:auto; float:left;position: relative;margin-bottom:10px; padding-top:15px; border-top: 2px solid #B4B7BB;
                .views-row{margin-bottom:15px;width:325px; height:170px; float:left;overflow:hidden;margin-right:15px;}
                .views-row-last{margin-right:0px;}
                .nota{height:180px; float:left; position: relative;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .seccion{width:150px; padding: 0px 0px 5px 0px;height: 11px;float:left;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{font-weight: 600;color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .galeria{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .foto{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .titulo{float:left; position: relative; width:150px; height:auto;line-height:20px;padding:5px 0px; margin-bottom:0px;
                        a{font-size: 18px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{width:150px;font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin notas
            }//Fin View-block_1
            .view-s-general-sub.view-display-id-block_4{width:1006px;height:auto; float:left;position: relative;margin-bottom:10px; padding-top:15px; border-top: 2px solid #B4B7BB;
                .views-row{margin-bottom:15px;width:325px; height:170px; float:left;overflow:hidden;margin-right:15px;}
                .views-row-last{margin-right:0px;}
                .nota{height:180px; float:left; position: relative;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 5px;opacity:0.7; z-index: 1;}
                    .seccion{width:150px; padding: 0px 0px 5px 0px;height: 11px;float:left;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{font-weight: 600;color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .galeria{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .foto{width:160px; height:auto; float:left; position: relative; margin-right:10px;}
                    .titulo{float:left; position: relative; width:150px; height:auto;line-height:20px;padding:5px 0px; margin-bottom:0px;
                        a{font-size: 18px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{width:150px;font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin notas
            }// Fin otros
            //SEGUIR LEYENDO
            .view-id-s_general.view-display-id-block_5{width: 65%;margin-right: 50px;float: left;margin-top: 20px;
                .view-content{float: left;background-color: #f1f1f1;padding: 15px; width: auto;height: 225px;margin-bottom: 40px;
                    .views-row{float: left; width: 300px;margin: 0 0px 10px 23px;
                        .seguir_leyendo{float: left;width: 300px;
                            .seccion{float: left; width: 100%;position: relative;left: -5px;
                                a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                            }
                            .titulo{float: left; width: 100%;
                                a{font-size: 18px;font-weight: 600;text-decoration:none; color:$seccion;}
                                a:hover{text-decoration: underline;}
                            }
                        }
                    }
                    .views-row-1, .views-row-3, .views-row-5{margin-left: 0;}
                }
            }//Fin seguir leyendo
            .divisor{float: left;border-right: 2px solid $estandar;height: 237px;position: absolute;left: 320px;top: 52px;}
            //MÁS
            .view-id-s_general.view-display-id-block_4{width:1006px;height:auto; float:left;position: relative;margin-bottom:10px;
                .views-row{margin-bottom:15px;width:325px; height:300px; float:left;overflow:hidden;margin-right:15px;}
                .views-row-3, .views-row-6, .views-row-9, .views-row-12, .views-row-15, .views-row-18, .views-row-21 {margin-right:0px;}
                .views-row-last{margin-right:0px;}
                .nota{width: 100%;height:300px; float:left; position: relative;
                    .tipo{display:none;}
                    .icon_video{display:none;background:url(../images/iconos/video.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 63px;opacity:0.7; z-index: 1;}
                    .icon_galeria{display:none;background:url(../images/iconos/galeria.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 63px;opacity:0.7; z-index: 1;}
                    .icon_podcast{display:none;background:url(../images/iconos/podcast.svg) -3px -3px/60px auto no-repeat;height: 40px;width: 60px;text-indent: -9999px;float: left;position: absolute;left: -6px;bottom: 63px;opacity:0.7; z-index: 1;}
                    .seccion{width:240px; padding: 0px 0px 5px 0px;height: 11px;float:left;
                        .color{background:$seccion; height:10px; width:25px; float:left;position: relative;text-indent:-9999px;}
                        a{color:$seccion; text-decoration:none; text-transform:uppercase;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                        .sep{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 10px;top: -2px;position: relative;margin: 0px;}
                        .fecha{color:$seccion; text-decoration:none; text-transform:normal;font-size:13px; float:left; padding:0px 0px 0px 5px;top: -2px;position: relative;margin: 0px;}
                    }
                    .video{width:240px; height:auto; float:left; position: relative; margin-right:10px;}
                    .galeria{width:240px; height:auto; float:left; position: relative; margin-right:10px;}
                    .foto{width:240px; height:auto; float:left; position: relative; margin-right:10px;}
                    .titulo{float:left; position: relative; width:100%; height:auto;line-height:20px;padding:5px 0px; margin-bottom:0px;
                        a{font-size: 18px; font-weight:600; text-decoration:none; color:#101314;}
                    }
                    .resumen{width:150px;font-size:15px;position:relative; float:left; color:#646464;  font-weight:300;
                        p{margin-bottom: 0px;margin-top: 0px}
                    }
                }//Fin nota
            }//fin mas    
        }
    }
    /* .content img:hover {
        opacity: .9;
    } */
}//FIN Region