/*PAUTAS*/
.pauta {display: inline-block;vertical-align: top;margin-bottom: 20px;float:left; width:auto; height:auto; display:block;}
.anuncio_txt {font: 9px/9px $ptSans;text-transform: uppercase;color: #999;margin-bottom: 4px;}
.pauta .info {background-color: #eee;}
.pauta_movil{display:block; left:-5px;margin-bottom:7px; float:left;}
.fijo {bottom: 0px;left: 0;margin: 0 auto;position: fixed;right: 0;width: 320px;z-index: 100; height:50px;display:none;}
.p320x50 {width: 320px;height: auto;padding: 0px 0px 0px 0px;position: relative;top: 0px;float:left;overflow:hidden;}
.pauta300x250 {border:1px solid #ccc; overflow:hidden; }
.pauta468x60 {border:1px solid #ccc;float:left;overflow:hidden;}
.p468x60 {width: 468px;height: auto;padding: 10px 0px 0px 0px;position: relative;top: 0px;}
.p300x250 {width: 300px;/*height: auto;*/height: 270px;padding: 0px;position: relative;top: 0px;overflow:hidden;}
.p300x600 {width: 300px;height: 600px;/*height: 270px;*/padding: 0px;position: relative;top: 0px;overflow:hidden;}
.p300x100 {width: 300px;height: auto;/*height: 100px;*/padding: 10px 0px 0px 0px;position: relative;top: 0px;overflow:hidden;}
.p728x90 {width: 728px;height: 110px;padding: 10px 30px 0px 0px;position: relative;top: 0px;overflow:hidden;}
.p728x90n {width: 728px;height: auto;padding: 0px;position: relative;top: 0px;overflow:hidden;}
.p600x90 {width: 600px;/*height: auto;*/height: 110px;padding: 0px;position: relative;top: 0px;overflow:hidden;}
.p220x90 {width: 220px;height: 110px;padding: 10px 0px 0px 0px;position: relative;top: 0px;overflow:hidden;}
.p200x200 {width: 200px;height: 220px;padding: 0px 0px 0px 0px;position: relative;top: 0px;float:left;overflow:hidden;}
.p88x31 {width: 88px;height: 31px;padding: 10px 0px 0px 0px;position: relative;top: 0px;float:left;left:30px; margin:0px;overflow:hidden;}
.p1000x90 {width: 1000px;height: auto;padding:0px;position: relative;top: 10px;left:-20px;z-index:2;}
.p1000x90_nota {width: 1000px;height: auto;padding:0px;position: relative;top: -10px;left:-20px;}
.flotante {bottom: -5px;left: 0;margin: 0 auto;position: fixed;right: 0;width: 1000px;z-index: 100;}
.laterales{position: fixed; top:0; margin:0 auto; width:100%; z-index:101;overflow:hidden;
	.content{position: relative; margin:0 auto;
	.lateral1{top: 0px;left: 135px;width: 160px;margin: 0px;padding: 0px;position: fixed;}
	.lateral2{top: 0px;right: 140px;width: 160px;position: fixed;margin: 0px;padding: 0px;}
	}
}

//Expandible secciones
#div-gpt-ad-1418244591079-0{height:auto !important;}
#oreja_div{position:absolute;top:0;right:0;}

.pautas_header{margin: 0 auto; position: relative; width:1006px; padding:0px 20px;}
.notas_header{margin: 0 auto; position: relative; width:728px; padding:0px 20px;}
/*FIN PAUTAS*/

.adm-intext{display: inline-block;vertical-align:top;margin-bottom: 20px;}

.lateral{clear: both;position: relative;width: 100%;
	.lateral_interna{border: 0;padding: 0;
		.lateral_content{padding: 0;
			//IZQ
			.lateral1_nivel1{position: absolute;z-index: 101;width: 100%;top: 0;
				.lateral1_nivel2{position: relative;width: 1000px;margin: 0 auto;
					.lateral1_nivel3{left: -135px;position: absolute;top: 0;
						.lateral1_nivel4{position: fixed;
							
						}
					}
				}
			}
			//FIN IZQ
			//DER
			.lateral2_nivel1{position: absolute;z-index: 101;width: 100%;top: 0;
				.lateral2_nivel2{position: relative;width: 1000px;margin: 0 auto;
					.lateral2_nivel3{right: -5px;position: absolute;top: 0;
						.lateral2_nivel4{position: fixed;
							
						}
					}
				}
			}
			//FIN DER
		}
	}
}