#terminosCondiciones{
  margin: 60px auto;
  padding-top: 30px;
  width: 1000px;
  .titulo{
    font-size: 36px;
    font-weight: 600;
    line-height: 38px;
    float: left;
    position: relative;
    margin: 10px 0px;
    width: 100%;
  }
  strong{
    font-weight: 600;
  }
  a{
    text-decoration: none;
    color: #BB1D1E;
  }
  #terminosLista{
    padding: 0;
    list-style: none;
    .one, .two, .three{
      padding: 10px 15px;
      margin-bottom: 10px;
      .info{
        display: none;
        padding-left: 15px;
      }
      h3, h2{
        color: #BB1D1E;
        cursor: pointer;
        border-bottom: 1px solid #cacaca;
        font-weight: 600;
      }
      #terminosPolitica, #avisoCliente, #avisoProveedor{
        h3{
          padding-left: 15px;
        }
      }
    }
  }
}