body{background:#fff;margin:0px;background-attachment: fixed;top: 0px;background-position: center top;background-image:no-repeat; background-repeat:no-repeat;margin: 0;padding: 0;background-position: center 0;}
a, p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, li, pre, table, div, address, fieldset{
  font-family:$ptSans;
}
p{
  margin-bottom: 0px;
}
.texto iframe{width:600px !important;}
#galeria .texto iframe{width:920px !important;}