#error_404{width: 1006px;padding: 20px 09px;margin: 0 auto;position: relative;
	.container{width: 370px;margin: 0 auto;text-align: center;position: relative;z-index: 1;
		h1{font-size: 216px;margin: 0; color: #BB1D1E;}
		p{margin: 0; font-size: 30px; color: #BB1D1E;position: relative;top: -55px;}
	}
	.img{width: 80%;height: auto;margin: 0 auto;position: relative;top: -205px;left: 101px;}
	.descripcion{width: 680px; margin: 0 auto;position: relative; top: -120px;
		p{color: #666666;font-size: 20px;text-align: center;position: relative;top: -150px;}
	}
	h4{width: 250px;margin: 0 auto;position: relative;top: -230px;font-size: 23px;font-weight: 400;color: #BB1D1E;}
	.notas{width: 700px;margin: 0 auto;position: relative;top: -190px;;
		.view-id-404.view-display-id-block{width: 600px;margin: 0 auto;
			.view-content{display: flex;display: -webkit-flex;display: -moz-flex;flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;justify-content: flex-start;-webkit-justify-content: flex-start;-moz-justify-content: flex-start;}
			.views-row{width: 285px;
				.nota{
					.seccion{
						a{font-size: 13px;color: #999999;text-decoration: none;text-transform: uppercase;}
					}
					h3{margin: 0;
						a{color: #999999;font-size: 20px;text-decoration: none;}
					}
				}
			}
			.views-row-2, .views-row-4, .views-row-6{margin-left: 30px;}
		}
		.divisor{border-right: 1px solid #999999;height: 165px;position: absolute;left: 345px;}
	}//Fin notas
}//Fin error

#maintenace{width: 1006px;padding: 0px 09px;margin: 0 auto;position: relative;}