// Typography
$ptSans: 'PT Sans', sans-serif;
$ptSerif: 'PT Serif', serif;
//Colors categorias
$seccion:#ABABAB;
$cucuta:#BA2025;
$region:#F9D821;
$judicial:#F87917; 
$frontera:#89C33F;
$actualidad:#3D9E04;
$opinion:#BFD63E;
$deportes:#3FA6F2;
$tendencias:#8B7AB5;
$servicios:#2F449C;
$participacion:#C60B77;
$estandar:#BEBEC0;
$multimedia:#333333;
$copaamerica:#0D5497;
$gris: #A4A4A4;
$grisOscuro: #848484;
$grisClarito: #cccccc;
$comentarios: #e74c3c;


.ajax-progress.ajax-progress-throbber{
  display:none;
}