/*MENUS*/
/*Menu superior*/
#menu-superior{background: #E3E3E3; height:30px; width:100%;float:left;position:relative;font:$ptSans;color:#666;font-size:14px;margin-bottom:3px; 
	.menus_content{width:960px; margin:0 auto; position:relative;top:0px;height:22px;background:#E3E3E3; padding:5px 0px;
		.menu-izquierdo{float:left; position:relative;width:360px;margin:0px; padding:0px;
		li{float:left;position:relative; list-style:none; border-right: 1px solid #666; 
			a{color:#666;text-decoration: none;padding:10px;}
			a:hover{text-decoration: underline;}
		}
		.border{border-right:none !important;}
		}/*FIN menu izquierdo*/
		.menu-derecho{float:left; position:relative;width:490px;margin:0px; padding:0px;
		.clasificados_icon{background:url(../images/iconos/icon_clasificados.svg)0px -2px/25px auto no-repeat; width:110px; height:auto; float:left;	
			a{left:20px;position: relative;}
		}/*FIN clasificados*/
		.estado_tiempo{width:70px; height:19px; float:left;margin:0px 10px;
			#block-block-21--2{width: 60px;height: 25px;top: -7px;
			  .img{width:30px;height: 20px;float: left;top: -2px;position: relative;}
			  .icon44, .icon30, .icon29, .icon28, .icon27{background:url(../images/iconos/clima_5.svg)0px 0px/25px auto no-repeat; }
		      .icon47, .icon45, .icon39, .icon38, .icon37, .icon4, .icon3, .icon2{@include background(url("../images/clima/clima_4.svg"), 0 0, rgba(0, 0, 0, 0),no-repeat); }
		      .icon46, .icon43, .icon42, .icon41, .icon40, .icon35, .icon18, .icon17, .icon16, .icon15, .icon14, .icon13, .icon12, .icon11, .icon10, .icon9, .icon8, .icon7,
		      .icon6, .icon5{@include background(url("../images/clima/clima_3.svg"), 0 0, rgba(0, 0, 0, 0),no-repeat); }
		      .icon26, .icon25, .icon24, .icon23, .icon22, .icon21, .icon20, .icon19{@include background(url("../images/clima/clima_2.svg"), 0 0, rgba(0, 0, 0, 0),no-repeat); }
		      .icon36, .icon34, .icon32{@include background(url("../images/clima/clima_1.svg"), 0 0, rgba(0, 0, 0, 0),no-repeat); }
		      .icon1{@include background(url("../images/clima/clima-0.svg"), 0 0, rgba(0, 0, 0, 0),no-repeat);}
		      .grados{width:40px; height:auto; top:8px; position: relative;}
		      .clima{width:30px;position: relative; float:left; top:-7px; -webkik-top:-7px; -moz-top:-7px; -o-top:-7px;}
		    }
		}/*FIN clima*/
		.ingreso{background:url(../images/iconos/icon_ingresar.svg)0px -1px/25px auto no-repeat; width:85px;height: 20px;float: left;;position: relative; cursor:pointer;
			span{left:30px; float:left; position:relative;}
		}
		/*FIN ingreso*/
		.registro{width:80px; height:auto; float:left;
			a{position: relative;}
		}/*FIN registro*/	
		.picoyplaca{background:url(../images/iconos/icon_picoyplaca.svg)0px 0px/25px auto no-repeat; width:110px;height: 20px;float: left;;position: relative;
			span{left:30px; float:left; position:relative; top:0px;}
        .detalles-pico-placa{display:none;cursor:default;left: -150px;margin-top: 15px;position: absolute;top: 10px;width: 380px;z-index: 101;
           .flecha{background: url(../images/iconos/flecha_pico.svg) no-repeat 0px 0px/23px auto transparent;width: 23px;height: 12px;position: relative;float: left;top: -9px;left:190px;}
           .info{background: none repeat scroll 0 0 #fff;border: 1px solid #E3E3E3;padding: 10px 10px 1px 10px;height:180px;
              .linea{width: 240px;height: 0px;border-right: 10px solid transparent;border-left: 0px solid transparent; border-top: 10px solid #8E9094;left:-10px;margin:0px;float: left;position: relative;top: 10px;}
              .icon_mapa{background:url(../images/iconos/icon_mapa.svg) 0px -1px/35px auto no-repeat; width:35px;height: 30px;float: left;;position: relative;left:-5px;}
              .mapa{position:relative; float:left;
                a{color:#000;@include background(url("../images/img-mapa-pico-placa.jpg"), 0 0, transparent, no-repeat);cursor:pointer;display:block;@include fonts($ptSans, 13px, normal);padding: 6px 3px;}
            	a:hover{text-decoration:underline;}
              }
              .columns{clear:both;overflow:hidden;font-size:14px;margin-bottom:10px;
                p{margin:0;}
                .column-1, .column-2{float: left; position: relative; float:left;
                  p{color:#000;text-align:center;font-weight:bold;}
                  .placa{background:#8E9094;color:#fff;margin: 0 auto;padding: 2px;text-align: center;width: 70px; border-radius:3px;}
                  .hora{font-size: 12px;text-align: center;width: 100px;margin: 0 auto;position: relative;height: 13px;}
                }
                .column-1{border-right: 1px solid #E3E3E3;margin-right: 7px;padding-right: 7px; width:250px; height:58px;
                  .caja-1, .caja-2, .caja-3{float:left;margin-right:5px;}
                }
                .column-2{border-top-color: #585858;width:80px;
                  p{color:#585858;}
                  .placa{width: 85px !important;}
                }
              }
            .linea2{width: 110px;height: 0px;border-right: 10px solid transparent;border-left: 0px solid transparent; border-top: 10px solid #8E9094;left:-10px;margin:0px 0px 10px 10px;float: left;position: relative;top: 10px;}
            .icon_gas{background:url(../images/iconos/icon_gas.svg) 1px 0px/29px auto no-repeat; width:35px;height: 30px;float: left;;position: relative;left:-5px;top:-7px;}  
            .gas_txt{left:0px; float:left; position:relative; top:6px;}
            .columna{clear:both;overflow:hidden;font-size:14px;margin-top:7px;
                p{margin:0;}
	                .dia{width:11%;position: relative; float:left; margin-right:4px;font-size:12px;
	                	p{text-align:center;}
	                	.placa{background:#8E9094;color:#fff;margin: 0 auto;padding: 2px;text-align: center;width:35px; border-radius:3px;margin:0 auto;font-size:14px;}
	                }
	                .dia-3{width:14%;}
	                .dia-6{width:63px;
	                	.placa{width:60px;}
	            	}
	            	.dia-7{width:63px;margin-right:0px;
	                	.placa{width:60px;}
	            	}
            	}	
        	}
        }
        &:hover{
          .detalles-pico-placa{display: block;}
       } 
      }/*FIN pico y placa*/
		li{float:left;position:relative; list-style:none; border-right: 1px solid #646464; font-size:14px;
			a{color:#646464;text-decoration: none;padding:10px;}
			a:hover{text-decoration: underline;}
		}
		.border{border-right:none !important;}
		}
	}/*FIN menu derecho*/
	.redes-sociales{width: 100px; height: 30px; position: relative; list-style: none; margin:0px; top:-3px; left:0px; padding:0px; float:left;
		a{margin: 0px;}
		a:hover{opacity: 0.9;}
		li.leaf{list-style: none; margin: 0px; padding: 0px;}
		.facebook{ 
			a{background: url(../images/iconos/redes_sociales.svg) no-repeat -6px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
			a:hover{background: url(../images/iconos/redes_sociales.svg) no-repeat -6px -6px/120px auto transparent;}
		}
		.twitter{ 
			a{background: url(../images/iconos/redes_sociales.svg) no-repeat -33px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
			a:hover{background: url(../images/iconos/redes_sociales.svg) no-repeat -33px -6px/120px auto transparent;}
		}
		.instagram{ 
			a{background: url(../images/iconos/redes_sociales.svg) no-repeat -62px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
			a:hover{background: url(../images/iconos/redes_sociales.svg) no-repeat -62px -6px/120px auto transparent;}
		}
		.youtube{ 
			a{background: url(../images/iconos/redes_sociales.svg) no-repeat -90px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
			a:hover{background: url(../images/iconos/redes_sociales.svg) no-repeat -90px -6px/120px auto transparent;}
		}
	}
}/*FIN menu superior*/

/*Menu principal*/
#menu-principal{background: #333333; height:30px; width:100%;float:left;position:relative; margin-bottom:2px;z-index:100; transition:all 0.5s ease;
	.menup{width:960px; height:30px; margin:0 auto; list-style:none; padding:0px;background: #333333;
		li {display:block;float: left;  height: 19px;font-size: 12px;border: 1px solid #fff;padding: 9px 0px 3px 0px;top: -2px;position: relative;
			a{text-transform: uppercase;color: #fff;text-decoration: none;padding: 8px 8px;top: 0px;position: relative;}
			a:hover{opacity:0.9;}
		}
		li.dropdown{float: left;display: block;}
		.home{background: url(../images/iconos/icon_casa.svg) no-repeat 4px 3px/23px auto $cucuta;text-indent: -999px;width: 33px;margin: 0px;height: 31px;padding: 0px; 
			a{width:30px; height:30px; position: relative; margin:0px; padding:0px; float:left;}
			}
		.cucuta{
			a:hover{background: $cucuta;}
			span{background: $cucuta;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.region {
			a:hover{background: $region;}
			span{background: $region;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.judicial {
			a:hover{background: $judicial;}
			span{background: $judicial;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.frontera {
			a:hover{background: $frontera;}
			span{background: $frontera;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.actualidad {
			a:hover{background: $actualidad;}
			span{background: $actualidad;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.opinion {
			a:hover{background: $opinion;}
			span{background: $opinion;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.deportes {
			a:hover{background: $deportes;}
			span{background: $deportes;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.servicios {
			a:hover{background: $servicios;}
			span{background: $servicios;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.entretenimiento {
			a:hover{background: $entretenimiento;}
			span{background: $entretenimiento;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.participacion {
			a:hover{background: $participacion;}
			span{background: $participacion;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.hover .mainsubmenu{display:block;}
		.dropdown {
			.toplevel {}
			.cucuta li{width: 130px;}
			.cucuta li:hover{background: $cucuta;}
			.actualidad li{width: 130px;}
			.actualidad li:hover{background: $actualidad;}
			.region li{width: 130px;}
			.region li:hover{background: $region;}
			.opinion li{width: 130px;}
			.opinion li:hover{background: $opinion;}
			.deportes li{width: 130px;}
			.deportes li:hover{background: $deportes;}
			.entretenimiento li{width: 130px;}
			.entretenimiento li:hover{background: $entretenimiento;}
			.hover .mainsubmenu{display:block !important;}
			.mainsubmenu {display:none; position:absolute; top:30px; width:150px; left:0px; list-style-type:none; z-index:3; background: #333333; padding:0px; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; -ms-transition:all 0.3s ease; transition:all 0.3s ease;
				.flecha{background: url(../images/iconos/flecha_menu.svg) no-repeat 0px 0px/23px auto transparent;width: 23px;height: 12px;position: relative;float: left;top: -9px;}
				.fcuc{left:20px;}
				.freg{left:20px;}
				.fact{left:35px;}
				.fopi{left:20px;}
				.fdep{left:30px;}
				.fent{left:50px;}
				.cucuta {
					span{background: $cucuta;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.region {
					span{background: $region;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.actualidad {
					span{background: $actualidad;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.opinion {
					span{background: $opinion;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.deportes {
					span{background: $deportes;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.entretenimiento {
					span{background: $entretenimiento;height: 15px;width: 3px;position: absolute;top: 8px;left: 0px;}
					}
				.border {border:none !important;}
				li{display:block;float:left;height: 7px;font-size: 12px;padding: 10px 0px;top: -10px;position: relative;margin:0px 10px;border:none;border-bottom: 1px solid #5A5A5A;
					a:hover{background:none;}
				   }
			}	
		.hover .mainsubmenu {display:block;}
		}

		.redes-sociales{display:none; width: 100px; height: 30px; position: relative; list-style: none; margin:0px; top:4px; left:10px; padding:0px; float:left; transition:all 0.5s ease;
			a{margin: 0px;}
			a:hover{opacity: 0.9;}
			li{margin: 0px; padding: 0px;border:none; width:25px; height:25px;}
			li a{width: 25px; height: 25px; padding:0px; margin:0px 2px;}
			li.leaf{list-style: none;}
			.facebook{ 
				a{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -6px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease; }
				a:hover{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -6px -6px/120px auto transparent;}
			}
			.twitter{ 
				a{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -33px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
				a:hover{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -33px -6px/120px auto transparent;}
			}
			.instagram{ 
				a{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -62px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
				a:hover{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -62px -6px/120px auto transparent;}
			}
			.youtube{ 
				a{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -90px -32px/120px auto transparent;position: relative; width: 25px; height: 25px; float: left; text-indent: -9999px; transition:all 0.2s ease;}
				a:hover{background: url(../images/iconos/redes_sociales_menu.svg) no-repeat -90px -6px/120px auto transparent;}
			}
		}	
	}	
}
.linea_menu{width: 100%;position: fixed;height: 2px;float: left;display: none;top: 40px;z-index: 10;background-color: #fff;border-bottom: 2px solid #BA2025;transition:all 0.7s ease;}
/*FIN Menu Principal*/


/*Menu footer*/
#menu-footer{background: #333333; height:190px; width:100%;float:left;position:relative;
	.menup{width: 945px;height: 30px;margin: 0 auto;list-style: none;padding: 0px;position: relative;
		li {display:block;float: left;  height: 19px;font-size: 12px;padding: 9px 7px;top: -2px;position: relative;
			a{text-transform: uppercase;color: #fff;text-decoration: none;padding: 8px 9px;top: -2px;position: relative;}
			a:hover{opacity:0.9;}
		}
		.home{display:none;}
		.cucuta {
			span{background: $cucuta;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.region {
			span{background: $region;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.judicial {
			span{background: $judicial;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.frontera {
			span{background: $frontera;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.actualidad {
			span{background: $actualidad;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.opinion {
			span{background: $opinion;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.deportes {
			span{background: $deportes;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.servicios {
			span{background: $servicios;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.entretenimiento {
			span{background: $entretenimiento;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			}
		.participacion {
			span{background: $participacion;height: 3px;width: 100%;position: absolute;top: 26px;left: 0px;}
			.circulo{display:none;}
			}
		.circulo{border-radius: 3px;background: #fff;width: 3px;height: 3px;float: left; left: 105%;position: relative;top: 2px;}	
	}
	.bloque1{width:15.5%;}
	.bloque2{width:15.5%;}
	.bloque3{width:15.5%;}
	.bloque4{width:15.5%;}
	.bloque5{width:15%; border-right:none !important;
		.titulo{width:100% !important;}
		.item{width:90% !important; height:47px !important;line-height:14px;}
	}
	.bloque{height:100px; list-style: none; position: relative; float:left; border-right:1px solid #fff;margin: 10px 20px;padding: 7px 0px;
		.titulo{text-transform:uppercase; color:#fff;
			a{color:#fff; text-decoration:none; font-size:16px;}
			}
		.item{float:left; width:100%; height:19px; margin-left: 0px; padding:0px;
			a{color:#fff; text-decoration:none; font-size:12px;}
			}
		}
}
/*FIN Menu footer*/



